﻿
.menubox_01                { height: 35px; width: 100%; background-color: #313842; border-bottom: solid 4px #06bb21; }
.menubox_01 .logo          { float:left; padding:4px 0 0 0; margin:0;  }
.menubox_01 .menu          { float:left; height:35px; }
.menubox_01 .menu ul       { padding:0; margin: 0 0 0 5px; }
.menubox_01 .menu li       { float:left; background:url(../images/top/tab_bg.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px;}
.menubox_01 .menu li a     { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_01 .menu li.on    { float:left; background:url(../images/top/tab_bg_on_01.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px; }
.menubox_01 .menu li.on a  { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_on_01_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_01 .logout        { float:right; width: 51px; margin-right: 10px; padding-top: 8px; height:20px }   

.menubox_02                { height: 35px; width: 100%; background-color: #313842; border-bottom: solid 4px #0ba0b3; }
.menubox_02 .logo          { float:left; padding:4px 0 0 0; margin:0;  }
.menubox_02 .menu          { float:left; height:35px; }
.menubox_02 .menu ul       { padding:0; margin: 0 0 0 5px; }
.menubox_02 .menu li       { float:left; background:url(../images/top/tab_bg.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px;}
.menubox_02 .menu li a     { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_02 .menu li.on    { float:left; background:url(../images/top/tab_bg_on_02.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px; }
.menubox_02 .menu li.on a  { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_on_02_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_02 .logout        { float:right; width: 51px; margin-right: 10px; padding-top: 8px; height:20px }    

.menubox_03                { height: 35px; width: 100%; background-color: #313842; border-bottom: solid 4px #765cd3; }
.menubox_03 .logo          { float:left; padding:4px 0 0 0; margin:0;  }
.menubox_03 .menu          { float:left; height:35px; }
.menubox_03 .menu ul       { padding:0; margin: 0 0 0 5px; }
.menubox_03 .menu li       { float:left; background:url(../images/top/tab_bg.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px;}
.menubox_03 .menu li a     { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_03 .menu li.on    { float:left; background:url(../images/top/tab_bg_on_03.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px; }
.menubox_03 .menu li.on a  { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_on_03_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_03 .logout        { float:right; width: 51px; margin-right: 10px; padding-top: 8px; height:20px }  

.menubox_04                { height: 35px; width: 100%; background-color: #313842; border-bottom: solid 4px #406ec9; }
.menubox_04 .logo          { float:left; padding:4px 0 0 0; margin:0;  }
.menubox_04 .menu          { float:left; height:35px; }
.menubox_04 .menu ul       { padding:0; margin: 0 0 0 5px; }
.menubox_04 .menu li       { float:left; background:url(../images/top/tab_bg.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px;}
.menubox_04 .menu li a     { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_04 .menu li.on    { float:left; background:url(../images/top/tab_bg_on_04.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px; }
.menubox_04 .menu li.on a  { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_on_04_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_04 .logout        { float:right; width: 51px; margin-right: 10px; padding-top: 8px; height:20px }  
 
.menubox_06                { height: 35px; width: 100%; background-color: #313842; border-bottom: solid 4px #2ba6d9; }
.menubox_06 .logo          { float:left; padding:4px 0 0 0; margin:0;  }
.menubox_06 .menu          { float:left; height:35px; }
.menubox_06 .menu ul       { padding:0; margin: 0 0 0 5px; }
.menubox_06 .menu li       { float:left; background:url(../images/top/tab_bg.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px;}
.menubox_06 .menu li a     { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_06 .menu li.on    { float:left; background:url(../images/top/tab_bg_on_06.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px; }
.menubox_06 .menu li.on a  { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_on_06_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_06 .logout        { float:right; width: 51px; margin-right: 10px; padding-top: 8px; height:20px }   

.menubox_07                { height: 35px; width: 100%; background-color: #313842; border-bottom: solid 4px #1980d5; }
.menubox_07 .logo          { float:left; padding:4px 0 0 0; margin:0;  }
.menubox_07 .menu          { float:left; height:35px; }
.menubox_07 .menu ul       { padding:0; margin: 0 0 0 5px; }
.menubox_07 .menu li       { float:left; background:url(../images/top/tab_bg.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px;}
.menubox_07 .menu li a     { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_07 .menu li.on    { float:left; background:url(../images/top/tab_bg_on_07.gif) top right no-repeat; height: 29px; margin: 6px 2px 0px 0px; }
.menubox_07 .menu li.on a  { float:left; font-size:13px; color: #FFFFFF; font-weight:bold; text-decoration:none !important;background:url(../images/top/tab_bg_on_07_l.gif) top left no-repeat; padding: 8px 11px 3px 11px; letter-spacing:-1px;   }
.menubox_07 .logout        { float:right; width: 51px; margin-right: 10px; padding-top: 8px; height:20px }  