﻿* { margin:0; padding:0; color:#363636; font-style:normal; font-size:12px; font-family:돋움, Dotum, AppleGothic, Sans-serif; line-height:14px }
body {width:100%; height:100%; background-color:#fff; }

img, fieldset { border:none; margin:0; padding:0; }
ul,ol,dl,li { list-style:none; }

a:link, a:visited { color: #666565; text-decoration: none; }
a:hover { color: #233b7a; text-decoration: none; }
a:active { color: #233b7a; text-decoration: none; font-weight:bold; }

.wrap  { margin:0; padding:0; width: 100%; min-width: 1000px; }
.tabs { cursor: pointer; }
.container { }

.navigation { height: 23px; border-bottom: solid 1px #F1F1F1; padding-top: 7px; padding-left: 7px; }
.navigation img { vertical-align: middle; }

.leftmenu               { padding: 0; margin:0; background-color:#FAFAFA; }
.leftmenu ul            { margin:0; padding:0; }
.leftmenu ul li         { padding-left: 14px; padding-top: 7px; padding-bottom: 7px; font-weight: bold; border-bottom: solid 1px #efebef; }
.leftmenu ul li.on      { color:#3771ad; text-decoration: none; }

.menu_button    { border-left: solid 1px #7b7d7b; border-right: solid 1px #7b7d7b; width: 6px; cursor:pointer; }

.inputbox { height:15px; border: solid 1px #CCCCCC; font-size:12px; color:#666565; background-color:#ffffff; vertical-align:middle; padding-left:5px; padding-top: 2px; padding-right: 5px;  }

.footer { clear:both; margin:auto; font:bold 9px Verdana; border-top : solid 1px #D7d7d7; padding-top: 5px; text-align:center; height: 20px; background-color: #fafafa; }
.footer .ORION {  color:#ed1725; font:bold 9px Verdana;text-align:center;  }

#content { overflow: auto; }

.grid { width: 100%; overflow: auto;font-style:normal; font-size:20px; font-family:돋움, Dotum, AppleGothic, Sans-serif;  }