@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* { font-family: '나눔고딕', NanumGothic, 'Nanum Gothic';
	margin:0; padding:0;
	}
body {  background: #c9b7a2 url(../img/bg.jpg) repeat; }

/* 전체 컨테이너 */
.form-container {
   margin: 0 auto;
   /* border: 1px solid #b5b5b5; */
   /* background: #c9b7a2 url(../img/bg.jpg) repeat; */
   /*background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
   background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);*/
   text-decoration: none;   vertical-align: middle;   min-width:300px;   padding:20px; width:580px;
}
.form-container h2 {   
	text-shadow: #fdf2e4 0 1px 0;  
	font-size:15px;  
	margin: 0 0 20px 0;   
	font-weight:bold;  
	text-align:center;   
	}
	
/* 제목 */	
.form-title {  
	margin-bottom:10px;  
	color: #454545;  
	text-shadow: #fdf2e4 0 1px 0;  
	}
.form-title pre {  
	margin-bottom:10px;  
	margin-top:10px; 
	color: #454545;  
	text-shadow: #fdf2e4 0 1px 0; 
	font-size: 14px 
	}
	
/* 색상 필드셋 */
.form-fieldset {
	width: 350px;
	height: 40px;
	padding: 8px 30px;
	margin-bottom:15px;  
	border: 3px solid #fff;
}
.form-fieldset legend {
	color: #454545;  
	text-shadow: #fdf2e4 0 1px 0;	
	}

/* 표출행사 필드셋 */
#form-location {
	width: 450px;
	margin-bottom: 15px;
	padding: 0 30px;
	border: 3px solid #fff;
	text-align: center;
	}
#form-location legend {
	color: #454545;  
	text-shadow: #fdf2e4 0 1px 0;	
	}
.info-location-room {
	float: left;
	margin: 5px 5px;
	padding-left: 7px;
	width: 220px;
	overflow: auto;
	border: 1px solid #fff;
	text-align: left;
	}
.info-location-lobby {
	float: left;
	margin: 5px 5px;
	padding-left: 7px;
	width: 180px;
	overflow: auto;
	border: 1px solid #fff;
	text-align: left;
	}

/* 행사명 */
.title-form-field {  
	border: 1px solid #b5b5b5;  
	background: rgba(0,0,0,0.1); 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px; 
	border-radius: 2px;
   	
   	padding:8px; 
   	margin-left: 10px;
   	margin-bottom:5px;  
   	width:220px; 
   	color: #454545;
   	behavior: url(PIE.htc);
   }
.title-form-field:focus {  background: #fff;   color: #725129;   }

/* 입력폼 */
.form-field {  
	border: 1px solid #b5b5b5;  
	background: rgba(0,0,0,0.1); 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px; 
	border-radius: 2px;
   	
   	padding:8px; 
   	margin-bottom:10px;  
   	width:280px; 
   	color: #454545;
   	behavior: url(PIE.htc);
   }
.form-field:focus {  background: #fff;   color: #725129;   }

/* 행사 시작, 종료 시간 */
.time-form-field {  
	border: 1px solid #b5b5b5;  
	background: rgba(0,0,0,0.1); 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px; 
	border-radius: 2px;
	padding:8px;  
	margin-bottom:20px;  
	width:40px; 
	color: #454545;
   	ime-mode: disabled;
   	text-align: center;
   }
.time-form-field:focus {  background: #fff;   color: #725129;   }
/* 시간 작성 요령 */
.time-ex { color:#454545; font-size: small; margin: 0 0 0 20px; }

/* 행사 표출 시간 설정 */
.prev-form-field {  
	border: 1px solid #b5b5b5;  
	background: rgba(0,0,0,0.1); 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px; 
	border-radius: 2px;
	padding:8px;  
	margin-bottom:10px;  
	width:30px; 
	color: #454545;
   	ime-mode: disabled;
   	text-align: center;
   }
.prev-form-field:focus {  background: #fff;   color: #725129;   }

/* 색상 체크박스 폼 */
.form-checkbox { margin: 0 20px 0 0;  color: #454545;}

.color-label {
	font-size: 10pt;
	margin-left: 7px;
	}

/* 날짜 입력 필드 */
.date-form-field {  
	border: 1px solid #b5b5b5;  
	background: rgba(0,0,0,0.1); 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px; 
	border-radius: 2px;
   	padding:8px;  
   	margin-bottom:10px;  
   	width:73px; 
   	color: #454545;
   }
.date-form-field:focus {  background: #fff;   color: #725129;   }

/* 공백 스판 */
.blankspan {
	margin: 0 15px;	
}

/* 장소 선택 창 */
.sel { 
	background: rgba(0,0,0,0.1); 
	width: 200px; 
	color: #454545; 
	margin-bottom: 10px; 
	padding: 5px 0 5px 5px;
	}

/* 표출 룸 체크 창 */
.roomchk-field {
	margin-bottom: 8px;
	}
/* 표출 공용부 체크 창 */
.lobchk-field {
	margin-bottom: 8px;
	}
	
/* CheckBox Label*/
.chk_label{
	font-size: 10pt;
	margin-bottom: 10px;
	}
	
/* 파일 업로드 */
.upload-form-field { 
	background: rgba(0,0,0,0.1); 
	color: #454545; 
	padding: 5px;
	margin-bottom: 5px; 
	}
.upload-now { color:#454545; font-size: small; margin: 0 0 0 20px; }

/* 첨부파일명 필드 */
.filename-form-field {
	color:#454545; 
	margin-bottom: 20px;
	padding-left: 20px;
	}
	
/* 글 숨기기 필드 */
.text-hidden-chkbox {
	padding-left: 40px;
	color:#454545; 
	}

/* 서브밋 버튼 */
.submit-container { margin:10px 0; text-align:center;  }
.submit-button {
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
   -webkit-border-radius: 5px; 
   -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #4e3043;
   -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
   -moz-box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
   box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
   text-shadow: 0 1px 0 rgba(0,0,0,0.3);
   color: white;  
   margin: 0 5px;
   padding: 8.5px 18px; font-size: 14px; text-decoration: none;  vertical-align: middle;
   }
.submit-button:hover {
   box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }