@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	font-family: '나눔고딕', NanumGothic, 'Nanum Gothic';
	margin: 0; 
	padding: 0; 
	}

body { 
	color: white; 
	font-weight: bold; 
	overflow: hidden; 
	background: url(../img/tbackimg1320.jpg) no-repeat;
	background-color: black;
	}
	
table { border-collapse: collapse; }

#top { }
	
#banner { 
	height: 130px;
	border-bottom: 2px solid #fff;
	}
	
#banner table { 
	height: 90%;
	margin-left: 5em;
	background: url(../img/top_title.png) no-repeat; 
}
#te { width: 60%; }

#ymd { 
	font-size: 1.7em;
	padding: 0.3em 0 0 1.2em;
	vertical-align: top;
	}
	
#evtd { 
	text-align: center;
	padding: 10px 0 10px 0;  
	}
#evtd table td {
	word-break: break-all;
}
/* Event Font Color */
.BASIC { color: #23110D; }
.YELLOW { color: yellow; }
.RED { color: red; }
.BLUE { color: blue; }
.GREEN { color: green; }

/*  layer 1  */
#event_1 { 
	color:#fff; 
	border-color: #fff; 
	border-collapse: collapse; 
	}
#line1_1_1 { font-size: 3.1em; height: 1em;}
#line2_1_1 { font-size: 3.1em; height: 1em;}
#line3_1_1 { font-size: 3.1em; height: 1em;}
#line1_1_2 { font-size: 3.6em; height: 1em;}
#line2_1_2 { font-size: 3.6em; height: 1em;}
#line3_1_2 { font-size: 3.6em; height: 1em;}
#line1_1_3 { font-size: 4.0em; height: 1em;}
#line2_1_3 { font-size: 4.0em; height: 1em;}
#line3_1_3 { font-size: 4.0em; height: 1em;}
#line1_1_4 { font-size: 4.4em; height: 1em;}
#line2_1_4 { font-size: 4.4em; height: 1em;}
#line3_1_4 { font-size: 4.4em; height: 1em;}
#line1_1_5 { font-size: 4.9em; height: 1em;}
#line2_1_5 { font-size: 4.9em; height: 1em;}
#line3_1_5 { font-size: 4.9em; height: 1em;}
#time1 { font-size: 3em; width:25%;  text-align: center; vertical-align: bottom; }
#room1 { font-size: 1.8em; width:35%; padding-left: 5.5%; text-align: left; vertical-align: middle;}
#floor1{ font-size: 3.3em; width:35%; padding-left: 9.5%;  text-align: center; vertical-align: bottom;}
.topblank_1 { height: 2em;}
.midblank_1 { height: 5.0em; }
.bottomblank_1 { height: 2.0em; }

/*  layer 2  */
#event_2 { 
	color:#fff; 
	border-color: #fff; 
	border-collapse: collapse; 
	}
#line1_2_1 { font-size: 2.7em; height: 1em;}
#line2_2_1 { font-size: 2.7em; height: 1em;}
#line3_2_1 { font-size: 2.7em; height: 1em;}
#line1_2_2 { font-size: 3.1em; height: 1em;}
#line2_2_2 { font-size: 3.1em; height: 1em;}
#line3_2_2 { font-size: 3.1em; height: 1em;}
#line1_2_3 { font-size: 3.6em; height: 1em;}
#line2_2_3 { font-size: 3.6em; height: 1em;}
#line3_2_3 { font-size: 3.6em; height: 1em;}
#line1_2_4 { font-size: 4.0em; height: 1em;}
#line2_2_4 { font-size: 4.0em; height: 1em;}
#line3_2_4 { font-size: 4.0em; height: 1em;}
#line1_2_5 { font-size: 4.4em; height: 1em;}
#line2_2_5 { font-size: 4.4em; height: 1em;}
#line3_2_5 { font-size: 4.4em; height: 1em;}
#time2 { font-size: 2.9em; width: 25%; text-align: center; vertical-align: bottom; }
#room2 { font-size: 1.5em; width: 35%; padding-left: 2.5%; text-align: left; vertical-align: middle; }
#floor2 { font-size: 3.1em; width: 35%; padding-left: 9.5%; text-align: center; vertical-align: bottom; }
#blank2 { width: 95%; height: 2em;  border-bottom: 1px solid #fff; margin-bottom: 2em; margin-left: 2.5%;}
.topblank_2 { height: 3em;} 
.midblank_2 { height: 2em; }
.bottomblank_2 { height: 3em; }
                	
/*  layer 3  */
#event_3 { 
	color:#fff; 
	border-color: #fff; 
	border-collapse: collapse;  
	}
#line1_3_1 { font-size: 2.3em; height: 1em;}
#line2_3_1 { font-size: 2.3em; height: 1em;}
#line3_3_1 { font-size: 2.3em; height: 1em;}
#line1_3_2 { font-size: 2.7em; height: 1em;}
#line2_3_2 { font-size: 2.7em; height: 1em;}
#line3_3_2 { font-size: 2.7em; height: 1em;}
#line1_3_3 { font-size: 3.1em; height: 1em;}
#line2_3_3 { font-size: 3.1em; height: 1em;}
#line3_3_3 { font-size: 3.1em; height: 1em;}
#line1_3_4 { font-size: 3.6em; height: 1em;}
#line2_3_4 { font-size: 3.6em; height: 1em;}
#line3_3_4 { font-size: 3.6em; height: 1em;}
#line1_3_5 { font-size: 4.0em; height: 1em;}
#line2_3_5 { font-size: 4.0em; height: 1em;}
#line3_3_5 { font-size: 4.0em; height: 1em;}
#time3 { font-size: 2.5em; width: 25%;  text-align: center; vertical-align: bottom; }
#room3 { font-size: 1.5em; width: 35%; padding-left: 2.5%; text-align: left; vertical-align: middle; }
#floor3 { font-size: 2.8em; width: 35%; padding-left: 9.5%; text-align: center; vertical-align: bottom; }
#blank3 { width: 95%; height: 1em; border-bottom: 1px solid #fff; margin-bottom: 1em; margin-left: 2.5%;} 
.topblank_3 { height: 2em; }
.midblank_3 { height: 1.5em; }
.bottomblank_3 { height: 2em; }
	      	          	
	      	          	
/*  layer 4  */
#event_4 { 
	color:#fff; 
	border-color: #fff; 
	border-collapse: collapse;  
	}
.line4 { width: 65%; }
#line1_4_1 { font-size: 2.1em; height: 0.8em;}
#line2_4_1 { font-size: 2.1em; height: 0.8em;}
#line3_4_1 { font-size: 2.1em; height: 0.8em;}
#line1_4_2 { font-size: 2.3em; height: 0.8em;}
#line2_4_2 { font-size: 2.3em; height: 0.8em;}
#line3_4_2 { font-size: 2.3em; height: 0.8em;}
#line1_4_3 { font-size: 2.7em; height: 0.8em;}
#line2_4_3 { font-size: 2.7em; height: 0.8em;}
#line3_4_3 { font-size: 2.7em; height: 0.8em;}
#line1_4_4 { font-size: 3.1em; height: 0.8em;}
#line2_4_4 { font-size: 3.1em; height: 0.8em;}
#line3_4_4 { font-size: 3.1em; height: 0.8em;}
#line1_4_5 { font-size: 3.6em; height: 0.8em;}
#line2_4_5 { font-size: 3.6em; height: 0.8em;}
#line3_4_5 { font-size: 3.6em; height: 0.8em;}
#time4 { font-size: 2.3em; padding-right: 2%; text-align: right; vertical-align: bottom;}
#room4 { font-size: 1.3em; padding-right: 2%; text-align: right; vertical-align: top;}
#floor4 { font-size: 2.3em; padding-right: 2%; width: 23%; text-align: right; }
#blank4 { width: 95%; height: 1em; border-bottom: 1px solid #fff; margin-bottom: 1em; margin-left: 2.5%;} 
.topblank_4 { height: 2em; }
.bottomblank_4 { height: 2em; }


/*  layer 5  */
#event_5 { 
	color:#fff; 
	border-color: #fff; 
	border-collapse: collapse; 
	}
.line5 { width: 63%; }
#line1_5_1 { font-size: 1.8em; height: 0.6em;}
#line2_5_1 { font-size: 1.8em; height: 0.6em;}
#line3_5_1 { font-size: 1.8em; height: 0.6em;}
#line1_5_2 { font-size: 2.1em; height: 0.6em;}
#line2_5_2 { font-size: 2.1em; height: 0.6em;}
#line3_5_2 { font-size: 2.1em; height: 0.6em;}
#line1_5_3 { font-size: 2.4em; height: 0.6em;}
#line2_5_3 { font-size: 2.4em; height: 0.6em;}
#line3_5_3 { font-size: 2.4em; height: 0.6em;}
#line1_5_4 { font-size: 2.8em; height: 0.6em;}
#line2_5_4 { font-size: 2.8em; height: 0.6em;}
#line3_5_4 { font-size: 2.8em; height: 0.6em;}
#line1_5_5 { font-size: 3.3em; height: 0.6em;}
#line2_5_5 { font-size: 3.3em; height: 0.6em;}
#line3_5_5 { font-size: 3.3em; height: 0.6em;}
#time5 { font-size: 2em; padding-right: 2%; text-align: right; vertical-align: bottom;}
#room5 { font-size: 1.0em; padding-right: 2%; text-align: right; vertical-align: top;}
#floor5 { font-size: 2em; padding-right: 2%; width: 23%; text-align: right; }
#blank5 { width: 95%; height: 1.0em; border-bottom: 1px solid #fff; margin-bottom: 1em; margin-left: 2.5%;} 
.topblank_5 { height: 1.7em; }
.bottomblank_5 { height: 1.7em; }

/*  layer 6  */
#event_6 { 
	color:#fff; 
	border-color: #fff; 
	border-collapse: collapse; 
	}
.line6 { width: 63%; }
#line1_6_1 { font-size: 1.6em; height: 0.5em;}
#line2_6_1 { font-size: 1.6em; height: 0.5em;}
#line3_6_1 { font-size: 1.6em; height: 0.5em;}
#line1_6_2 { font-size: 1.8em; height: 0.5em;}
#line2_6_2 { font-size: 1.8em; height: 0.5em;}
#line3_6_2 { font-size: 1.8em; height: 0.5em;}
#line1_6_3 { font-size: 2.0em; height: 0.5em;}
#line2_6_3 { font-size: 2.0em; height: 0.5em;}
#line3_6_3 { font-size: 2.0em; height: 0.5em;}
#line1_6_4 { font-size: 2.4em; height: 0.5em;}
#line2_6_4 { font-size: 2.4em; height: 0.5em;}
#line3_6_4 { font-size: 2.4em; height: 0.5em;}
#line1_6_5 { font-size: 2.7em; height: 0.5em;}
#line2_6_5 { font-size: 2.7em; height: 0.5em;}
#line3_6_5 { font-size: 2.7em; height: 0.5em;}
#time6 { font-size: 1.8em; padding-right: 2%; text-align: right; vertical-align: bottom;}
#room6 { font-size: 1.0em; padding-right: 2%; text-align: right; vertical-align: top;}
#floor6 { font-size: 1.8em; padding-right: 2%; width: 23%; text-align: right; }
#blank6 { width: 95%; height: 1em; border-bottom: 1px solid #fff; margin-bottom: 1em; margin-left: 2.5%;} 
.topblank_6 { height: 1.1em; }
.bottomblank_6 { height: 1.1em; }