@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html { height: 100% }

* { 
	font-family: '나눔고딕', NanumGothic, 'Nanum Gothic'; 
	margin:0; padding:0;
	border: 0; 
}

body {
	 background: #e1c192 url(../img/wood_pattern.jpg); 
	/*background: #eedfcc url(../img/bg3.jpg) no-repeat center top;*/
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;*/	
}

a { 
	vertical-align: top; 
	text-decoration: none; 
	color: #000; 
}

table { 
	border-collapse: collapse;
	border-spacing: 0; 
}

img, input { vertical-align: middle; }

.top {
	width: 95%;
	margin: 0px auto;
	height: 26px;
}

.top-logo {
	width: 100%;
	height: 20px;
	background-color: #f4f0eb;
	margin: 1px auto;
	text-align: center;
}

.top-logo img {
	margin: 0px auto;
}

/* layout */
.form-layout {
	margin: 0 auto;
	text-decoration: none;   
	vertical-align: middle;  
	min-width:300px;  
	width:95%;
}

h1.logo { 
	width: 100%;
	min-width: 400px;
	margin: 50px 0 0 0;
	text-align: center; 
	font-size: 3.5em; 
	color: white;
	text-shadow: 0 2px 1px rgba(0,0,0,0.5);
	/* text-shadow: #fdf2e4 0 1px 0; 
	color: #725129; */ 
}
.period {
	position: relative;
	width: 100%; 
	margin: 50px 0 20px 0;
	min-width: 600px;
	}

input.date { 
	width: 135px; 
	height:20px;
	border: 1.5px solid; 
	text-align: center; 
	font-size: 15px;  
	background: rgba(0,0,0,0.05);
}

.listview { 
	margin: 20px 0 20px 0;
	width: 100%; 
	}

.list_table { 
	border-top: 2px solid #000; 
	border-bottom: 2px solid #000; 
	text-align: center; 
	color: #000; 
	width: 100%; 
	min-width: 600px;
	}

.list_table thead th {
	margin: 0;
	padding: 4px 0;
	border-bottom: 1px solid #000; 
	border-right: 3px solid transparent;
	border-left: 3px solid transparent; 
	/*background:  #f4f0eb;*/ 
	line-height: 30px; 
	font-size: 18px;
}

.list_table tbody td {
	padding: 5px 0;
	height: 30px;
	}

.row_body { 
	background-color: #FFFF00; 
	font-weight: bold;
}

/* .row_body_last { background-color: #D3D3D3; } */

/* BUTTON CSS */
.btn_gr { 
	margin: 50px 0 0 0;
	text-align: center; 
	width: 100%; 
	min-width: 600px;
	}
.btn {
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.7), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.7), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.7), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.7), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.7), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-top: 0;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 12px;
    font-weight: normal;
    padding:  8px 8px;
    vertical-align: text-top;
    behavior: url(PIE.htc);
 }
.btn:hover {
	box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
        behavior: url(PIE.htc);
}
.btn:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   behavior: url(PIE.htc);
   }
   
.add {
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0 0 0 0;
    float: right;
    
    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 15px;
    font-weight: normal;
    padding:  8.5px 15px;
    vertical-align: text-top;
    behavior: url(PIE.htc);
 }
.add:hover {
	box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
        behavior: url(PIE.htc);
}
.add:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   behavior: url(PIE.htc);
   }   
   
.preview {
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0 0 -10px 20px;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 13px;
    font-weight: normal;
    padding:  5px 5px;
    vertical-align: text-top;
    behavior: url(PIE.htc);
 }
.preview:hover {
	box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
        behavior: url(PIE.htc);
}
.preview:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   behavior: url(PIE.htc);
   }
   
.logout {
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 1px auto;
    float: right;
    

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 11px;
    font-weight: normal;
    padding:  5px 5px;
    vertical-align: text-top;
    behavior: url(PIE.htc);
 }
.logout:hover {
	box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
        behavior: url(PIE.htc);
}
.logout:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   behavior: url(PIE.htc);
   }