/* @import url(../font/NanumGothic.css); */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html { height: 100% }
* { font-family: '나눔고딕', NanumGothic, 'Nanum Gothic'; }

body{ 
	/*background: #eedfcc url(../img/bg3.jpg) no-repeat center top;*/
	background: #e1c192 url(../img/wood_pattern.jpg) repeat;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;*/
	font-weight: 300;
	font-size: 15px;
	color: #333;
	-webkit-font-smooting: antialiased;
}
.wrap > header {
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    	text-align: center;
}

.wrap > header h1 {
	font-size: 30px;
	line-height: 38px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.login-form {
    /* Size and position */
    width: 250px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;

    /* Font styles */
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;    
}

.login-form h1 {
    font-size: 25px;
    padding-bottom: 15px;
}

.login-form input[type=text],
.login-form input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 10px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.11);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    behavior: url(css/PIE.htc);

    /* Font styles */
    color:  #634056;
    font-size: 13px;
}

.login-form input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login-form input::-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login-form input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
    border-color: #333;
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus,
.login-form input[type=submit]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
    behavior: url(css/PIE.htc);
}

/* Fallback */
.no-boxshadow .login-form input[type=text]:focus,
.no-boxshadow .login-form input[type=password]:focus {
    outline: 1px solid white;
}

.login-form input[type=submit] {
    /* Size and position */
    width: 106%;
    padding: 8px 5px;
    
    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #4e3043;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    -ms-box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    behavior: url(css/PIE.htc);
}

.login-form input[type=submit]:hover {
	-webkit-box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
	-moz-box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
      -ms-box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
      -o-box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
	box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
        behavior: url(css/PIE.htc);
}

/* Fallback */
.no-boxshadow .login-form input[type=submit]:hover {
    background: #594642;
}

.login-form label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.login-form label:hover ~ input {
    border-color: #333;
}

.no-placeholder .login-form label {
    display: block;
}