/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */

html { height: 100%; } 

* { 
	font-family: HY헤드라인M;
	margin: 0; 
	padding: 0; 
	/* font-family: '나눔고딕', NanumGothic, 'Nanum Gothic'; */
}
body {  
	/* margin: 0 auto;  */
	width: 100%; 
	font-weight: 800;
	overflow: hidden; 
	background-color: black;
}
	
table { 
	width: 100%; 
	height: 900px;
	margin: 0 auto; 
	text-align: center;
	}
table td {
	word-break: break-all;
}

/* Event Font Color */
.BASIC { color: #23110D; }
.YELLOW { color: yellow; }
.RED { color: red; }
.BLUE { color: blue; }
.GREEN { color: green; }

/* 1440*900 */
#logo { padding: 0.05em 0em 0.05em 0em; }
#line1_1 { font-size: 3.5em; padding: 0.05em 0em; height: 20%;}
#line2_1 { font-size: 3.5em; padding: 0.05em 0em; height: 20%;}
#line3_1 { font-size: 3.5em; padding: 0.05em 0em; height: 20%;}
#line1_2 { font-size: 4.0em; padding: 0.05em 0em; height: 20%;}
#line2_2 { font-size: 4.0em; padding: 0.05em 0em; height: 20%;}
#line3_2 { font-size: 4.0em; padding: 0.05em 0em; height: 20%;}
#line1_3 { font-size: 5em; padding: 0.05em 0em; height: 20%;}
#line2_3 { font-size: 5em; padding: 0.05em 0em; height: 20%;}
#line3_3 { font-size: 5em; padding: 0.05em 0em; height: 20%;}
#line1_4 { font-size: 6.0em; padding: 0.05em 0em; height: 20%;}
#line2_4 { font-size: 6.0em; padding: 0.05em 0em; height: 20%;}
#line3_4 { font-size: 6.0em; padding: 0.05em 0em; height: 20%;}
#line1_5 { font-size: 7.5em; padding: 0.05em 0em; height: 20%;}
#line2_5 { font-size: 7.5em; padding: 0.05em 0em; height: 20%;}
#line3_5 { font-size: 7.5em; padding: 0.05em 0em; height: 20%;}
#time { font-size: 54pt; padding: 0.02em 0em; height: 5%; }
