﻿<%@ Page Language="C#"   AutoEventWireup="true" CodeFile="send.aspx.cs" Inherits="manager_send" Title="제목 없음" %>

    

<script language=javascript    >
<!--
function send()
{

    frm.submit();

}
-->
</script>


<form  name="frm"  enctype="multipart/form-data"   method="post" action="./sendresult.aspx" >


 



<input id="phone"          name="phone"          type="text"   value="010-9999-9999" />
<br />
<input id="siteCode"       name="siteCode"       type="text"   value="지점코드" />
<br />
<input id="priceImageFile" name="priceImageFile" type="file" />
<br />




<input id="Button1" name="Button1" type="button" value="보내기"  onclick=send();   />
 

</form>
