﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage/ContentMasterPage.master" AutoEventWireup="true" CodeFile="sendresult.aspx.cs" Inherits="manager_sendresult" Title="제목 없음" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
전송결과<br />


    핸드폰 : <asp:TextBox ID="phone" runat="server"></asp:TextBox>
    <br />
    지점코드 : <asp:TextBox ID="siteCode" runat="server"></asp:TextBox>
    <br />    
    이미지명 :  <asp:Label ID="ImageName" runat="server" Text=""></asp:Label>
    <br />
    <asp:Image ID="Image1" runat="server" />
  
  
     
</asp:Content>

