﻿<%@ Page Language="C#"   AutoEventWireup="true" CodeFile="sms.aspx.cs" Inherits="manager_sms" Title="제목 없음" %>

    

<script language=javascript    >
<!--
function send()
{

    frm.submit();

}
-->
</script>


<form  name="frm"  enctype="multipart/form-data"   method="post" action="./smsresult.aspx" >


 



보내는 전화번호 <input id="send_phone"          name="send_phone"          type="text"   value="010-9999-9999" />
<br />
받는 전화번호 <input id="receive_phone"          name="recive_phone"          type="text"   value="010-9999-9999" />
<br />
내용 <input id="contents"       name="contents" size=100      type="text"   value="어쩌구 80자" />
<br />
 




<input id="Button1" name="Button1" type="button" value="보내기"  onclick=send();   />
 

</form>
