﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage/ContentMasterPage.master" ValidateRequest="false"  AutoEventWireup="true" CodeFile="smtpresult.aspx.cs" Inherits="manager_smtpresult" Title="제목 없음" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
제목 :  <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
<br />
내용 :  <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
</asp:Content>

