@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body { width: 100%; height: 100%; }
*{ margin: 0; padding: 0px;
	font-family: '나눔고딕', NanumGothic, 'Nanum Gothic';
}
input[type="radio"] {
	display: none;
}
#wrap { width: 100%; margin: 0 auto; }
#sidebar { width: 330px; height: auto; float: left; border: 0px solid #000; margin-top: 2px; position: relative; z-index: 100;}
#controller { width:100%; height: 30px;  margin-top: 5px; margin-left: -340px; border: 0px solid #000; float: left; background-color: #fff; }
#def-controller { width:100%; height: 30px;  padding-top: 3px; border: 0px solid #000; float: left; z-index: 100; position: relative; background-color: #fff;}

/* 사이드메뉴 처리 */
#sidebar > #side-top {
	width: 100%;
	border: 0px solid #000;
	padding: 5px 0;
	text-align: center;
}

#sidebar > #side-list {
	width: 80%;
	height: 790px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 10px 5px 15px 5px;
}

#side-list .list-form {
	border: 0px solid #000;
}
#side-list .list-form .sel-div {
	border: 0px solid #000;
	padding-left: 20px;
}
#side-list .div-fs {
	width: 100%;
	height: 655px;
	border: 0px dashed #000;
}
#side-list .div-fs > fieldset {
	border: 0px solid #000;
	height: 650px;
	overflow: auto;
}

#side-list .div-fs > fieldset legend {
	margin-bottom: 10px;
	font-size: 10pt;
}
#side-list .div-fs > fieldset label {
	font-size: 10pt;
	padding-bottom: 10px;
}
#side-list .div-fs > fieldset .chkbox {
	margin-bottom: 10px;
}
#side-list > .div-line {
	border-bottom: 1px solid #bdc3c7;
	margin-bottom: 15px;
}

#sidebar > #side-foot {
	text-align: center;
	padding: 5px 0;
	border: 0px solid #000;
}


/* 상단메뉴 처리 ( 추후 없앨수도..) */
.edit-top{ margin-left: 330px; border: 0px solid #000; }
.def-top { margin-left: 10px; border: 0px solid #000; z-index: 101;}
#btn-top > img {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
}

/* 지도 div  */
.def-mapview {
	width: 100%;
	height: 100%;
}
.edit-mapview {
	width: 100%;
	height: 100%;
	/* height: 845px; */
	margin-left: -340px;
}
#mapview {
	float: left;
	width: 100%;
	border-top: 0px solid #ecf0f1;
	border-bottom: 1px solid #ecf0f1;
	z-index: 1;
	position:relative;
	overflow: hidden;
}

#mapview > #def-map {
	width: 100%;
}

#mapview > #map {
	width: 100%;
	margin-left: 320px;
}

.toggle-btn {
	padding: 5px;
}

#del-btn {
	margin-top: 5px;
	font-size: 9pt;
	text-align: center;
}

.txtbox {
	width: 150px;
	text-align: left;
	background: #f5f5f5; 
	font-size: 0.8rem; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	border: none; 
	padding: 5px 7px; 
	margin-bottom: 1px; 
	margin-left: 2px;
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 ); 
	clear: both; 
}
.txtbox:focus {
	background: #fff; 
	box-shadow: 0px 0px 0px 2px #0e83cd, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 ); 
	outline: none; 	
}

.btn {
	float:center;
	padding: 5px 5px;
	border: none;
	font-family: inherit;
	font-size: 9pt;
	font-weight: 600;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 7px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1{
	background: white;
	border: 2px solid #2c3e50;
	color: #2c3e50;
}
.btn-1a:hover,
.btn-1a:active {
	color: #fff;
	background: #2c3e50;
}

.switch {
	font-size: 10pt;
  	margin: 5px 0;
	color: #6f839a;
	cursor: pointer;
	font-weight: 600;
	line-height: 1.5em;
	border-radius: 3px;
	padding: .15em .3em;
	display: inline-block;
	background-color: #3e4956;
	-webkit-transition: .15s ease;
	-moz-transition: .15s ease;
	-ms-transition: .15s ease;
	-o-transition: .15s ease;
	transition: .15s ease;
	margin-bottom: 15px;
  }
  
  input[type="radio"]:checked + .switch {
	color: #fff;
	background-color: #0e83cd;
	padding-left: 1em;
	padding-right: 1em;
  }
