﻿body 
{
    margin: 0; padding: 0; font-size: 11px; font-family: 돋움, Dotum, 굴림, Gulim; line-height:160%; width: 100%; background-color: #FFFFFF;
    overflow:auto;
}

ul, ol, dl, li { list-style: none; margin: 0; padding: 0;  }
img { margin: 0; padding: 0; border: none; }

a:link, a:visited { color: #666565; text-decoration: none; }
a:hover { color: #233B7A; text-decoration: none; }
a:active { color: #233B7A; text-decoration: none; }
a,img {selector-dummy: expression(this.hideFocus=true);}

/*  Layout  */
.wrap { margin:0; padding:0; width: 100%; height:100%;}

.container { clear:both; width: 100%; }

/* Left Menu   tree 의 상단 띄우기  */
.leftmenu               { float: left;      left: 0; width: 170px; background-color:#FAFAFA;  }
/*
.leftmenu ul            { margin:0; padding:0; list-style-image:none; list-style-position:outside; list-style-type:none; }

.leftmenu ul li         { padding-left: 14px; padding-top: 7px; padding-bottom: 7px; font-weight: bold; border-bottom: solid 1px #efebef; }
.leftmenu ul li.on      { color:#3771ad; text-decoration: none; }
*/


/* Left Menu */

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview .hitarea {
	background: url(../../asset/images/treeview/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

span.folder { background: url(../../asset/images/treeview/folder.jpg) no-repeat; padding: 3px 0px 3px 15px; }
span.file { background: url(../../asset/images/treeview/tr_010.gif) no-repeat; padding: 3px 0 3px 15px; }

.treeview .hover { color: red; cursor: pointer;         }

.treeview ul { margin-top: 4px;       }
.treeview li {  padding: 3px 0pt 3px 16px; background: url(../../asset/images/treeview/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../../asset/images/treeview/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }


.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

/* Left Menu */

.menubutton { float: left; left: 170px; width: 6px; border-left: solid 1px #7b7d7b; border-right: solid 1px #7b7d7b; cursor:pointer; background:url(images/btn_close.gif) no-repeat left 50%; }

.maincontent { float: left; left: 176px; }

.sub_tabs { clear:both; height: 28px; border-bottom: solid 1px #b4b6b5; }

#TabBox { padding-left: 5px; }
#TabBox li { float:left; height:24px;     margin-top: 4px; margin-right:3px; background:url(../../asset/images/bg_tab.gif) top right no-repeat;     }
#TabBox li a {float:left;height:24px; padding: 4px 14px 0 14px;background:url(../../asset/images/bg_tab_l.gif) top left no-repeat;color:#7E7E7E;font-size:11px;letter-spacing:-1px;text-decoration:none !important;}
#TabBox li.on { margin-top: 5px; background:url(../../asset/images/bg_tab_on.gif) top right no-repeat}
#TabBox li.on a { padding-top: 4px; background:url(../../asset/images/bg_tab_l_on.gif) top left no-repeat;color:#000;font-weight:bold;}  

.sub_tabs .command_box { width: 117px; margin-top: 7px; float: right; margin-right: 7px; }
.frame_box { clear:both; overflow: hidden; }

.DivHide { display: none; }
.DivShow { display: block; }


.footer .ORION {  color:#ed1725; font:bold 9px Verdana;text-align:center;  }


/*  프로그래밍 */

#tab_delete { cursor: pointer; }
#refresh { cursor: pointer; }

.InputBox { height:17px; border: solid 1px #CCCCCC; font-size:12px; color:#000000; background-color:#ffffff;  }

.btn_txt{color:#000000;background-image: url(../../Asset/Images/button/btn_bg.gif);background-repeat: repeat-X; background-position: left top;font-family:verdana;font-weight:bold; padding:2,2,2,4}
.btn_left{width:4px;background-image: url(../../Asset/Images/button/btn_left.gif);background-repeat: no-repeat; background-position: left;}
.btn_right{width:4px;background-image: url(../../Asset/Images/button/btn_right.gif);background-repeat: no-repeat; background-position: right;}

.title1 {font-size: 17px;color: #1B74A9;text-decoration: none;font-weight:bold; line-height:150%; letter-spacing:-1px; }
.title1_k {font-family:돋움;font-size: 17px;color: #1B74A9;text-decoration: none;font-weight:bold; line-height:150%; letter-spacing:-1px; }
.title2 {font-size: 14px;color: #FFFFFF;text-decoration: none;font-weight:bold; line-height:150%; letter-spacing:-1px;background-color:#999999 }
.title2_k {font-family:돋움;font-size: 14px;color: #FFFFFF;text-decoration: none;font-weight:bold; line-height:150%; letter-spacing:-1px;background-color:#999999 }
.title3 {font-size: 12px;color: #000000;text-decoration: none;font-weight:bold; line-height:150%; letter-spacing:-1px; }
.title3_k {font-family:돋움;font-size: 12px;color: #000000;text-decoration: none;font-weight:bold; line-height:150%; letter-spacing:-1px; }
.title4 {font-size: 13px;color: #105B88;text-decoration: none;font-weight:bold; line-height:150%; letter-spacing:-1px; background-color:#A8D1EA ; padding:2px}







/*  여기부터 아그로넷 2010 08월 추가    background:url(/asset/images/agronet/bg_contents.jpg) no-repeat right bottom;*/

body#agronet { }
table.newContentsWrap {height:auto; font-family:Dotum; font-size:12px; } 
table.newContentsWrap td.contentsOverflow {vertical-align:top; }
table.newContentsWrap .newContents {width:100%; vertical-align:top; }
* html table.newContentsWrap .newContents {width:100%; vertical-align:top; } /* ie6 */
*:first-child+html table.newContentsWrap .newContents {width:100%; vertical-align:top; } /* ie7 */

table.newContentsWrap .newContents .newContentsInner {background:#ffffff; height:100%; padding:5px 5px 5px 5px; margin:0 0 0 0px; }

.subTitleArea {margin:10px 0 9px 0; }
.subTitleArea td { }
.subTitleArea td.btnCell {text-align:left; }
.subTitleArea span.subTitle {height:24px; color:#333333; font-weight:bold; display:inline-block; background:url(../../asset/images/agronet/bg_subtitle_l.gif) no-repeat left top; }
.subTitleArea span.subTitle span {height:24px; padding:0 12px 0 12px; display:inline-block; background:url(../../asset/images/agronet/bg_subtitle_r.gif) no-repeat right top; }

/* 아이콘버튼 스타일 */
.topOptionBtns {width:100%; text-align:right; margin:-24px 0 3px 0; }
.topOptionBtns span.btnType {height:24px; cursor:pointer; display:inline-block; background:url(../../asset/images/agronet/bg_btn_type_l.gif) no-repeat left top; }
* html .topOptionBtns span.btnType {margin-left:4px; }/* ie6 */
.topOptionBtns span.btnType span {height:24px;display:inline-block; background:url(../../asset/images/agronet/bg_btn_type_r.gif) no-repeat right top; }
.topOptionBtns span.btnType img {vertical-align:top; float:right; }
.topOptionBtns span.btnType a {color:#555555; font-weight:bold; padding:3px 8px 4px 21px; display:inline-block; }

.topOptionBtns span.btnSearch a {background:url(../../asset/images/agronet/bg_btn_search.gif) no-repeat left top; }
.topOptionBtns span.btnDetailInfo a {background:url(../../asset/images/agronet/bg_detail_info.gif) no-repeat left top; }
.topOptionBtns span.btnRegister a {background:url(../../asset/images/agronet/bg_btn_register.gif) no-repeat left top; }
.topOptionBtns span.btnModify a {background:url(../../asset/images/agronet/bg_btn_modify.gif) no-repeat left top; }
.topOptionBtns span.btnDelete a {background:url(../../asset/images/agronet/bg_btn_delete.gif) no-repeat left top; }
.topOptionBtns span.btnCancel a {background:url(../../asset/images/agronet/bg_btn_delete.gif) no-repeat left top; }
.topOptionBtns span.btnPrint a {background:url(../../asset/images/agronet/bg_btn_print.gif) no-repeat left top; }
.topOptionBtns span.btnPlusLine a {background:url(../../asset/images/agronet/bg_btn_plus_line.gif) no-repeat left top; }
.topOptionBtns span.btnMinusLine a {background:url(../../asset/images/agronet/bg_btn_minus_line.gif) no-repeat left top; }
.topOptionBtns span.btnNew a {background:url(../../asset/images/agronet/bg_btn_new.gif) no-repeat left top; }
.topOptionBtns span.btnUpload a {background:url(../../asset/images/agronet/bg_btn_upload.gif) no-repeat left top; }
.topOptionBtns span.btnDownload a {background:url(../../asset/images/agronet/bg_btn_download.gif) no-repeat left top; }




/* 하단 버튼 */
.btnRight {text-align:right; margin-right:9px; margin-top:5px; }

/* 테이블 스타일 */
table.boardInputType {width:100%; border-top:1px solid #b49478; border-bottom:1px solid #b49478; table-layout:fixed; }
table.boardInputType th {background:#fbfaea; border-bottom:1px solid #e7e7df; color:#555555; text-align:left; padding:6px 0 4px 11px; }
table.boardInputType th.blank {background:none; }
table.boardInputType th span {background:url(../../asset/images/agronet/bul_arr01.gif) no-repeat left 5px; padding-left:8px; display:inline-block; }
table.boardInputType td {font-family:Dotum; border-bottom:1px solid #e7e7df; color:#474747; font-size:11px; padding:4px 10px 4px 10px; }
table.boardInputType td.goSearch {text-align:right; padding-right:9px; }
table.boardInputType td img,
table.boardInputType td input {vertical-align:middle; }
table.boardInputType td span.contractPay {width:170px; display:inline-block;  text-align:right; }
table.boardInputType th.lowTitle {background:#fff2f2; font-weight:normal; border-left:1px solid #e7e7df; border-right:1px solid #e7e7df; }
table.boardInputType td.normal {border-right:1px solid #e7e7df; padding-left:20px; }

/* 테이블 스타일 */
table.boardInputTypeSmall {width:100%; border-top:1px solid #b49478; border-bottom:1px solid #b49478; table-layout:fixed; }
table.boardInputTypeSmall th {background:#fbfaea; border-bottom:1px solid #e7e7df; color:#555555; text-align:left; padding:2px 0 1px 11px;font-size:11px  }
table.boardInputTypeSmall th.blank {background:none; }
table.boardInputTypeSmall th span {background:url(../../asset/images/agronet/bul_arr01.gif) no-repeat left 5px; padding-left:8px; display:inline-block;font-size:11px }
table.boardInputTypeSmall td {border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;font-family:Dotum;text-align:right; border-bottom:1px solid #e7e7df; color:#474747; font-size:11px; padding:2px 10px 1px 10px; }

table.boardListType {width:100%; border-top:1px solid #b0977e; border-bottom:1px solid #b0977e; table-layout:fixed; }
* html table.boardListType {width:auto; } /* ie6 */
table.boardListType th {color:#555555; background:#fbfaea; border-right:1px solid #d9cab3; border-bottom:1px solid #e9e9e9; font-weight:bold; padding:6px 0 4px 0; }
table.boardListType th.titleInner {border-right:1px solid #e9e9e9; }
table.boardListType td {border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; padding:4px 10px 4px 10px; text-align:right; }
table.boardListType th.end,

table.mobileListType {width:100%; border-top:1px solid #b0977e; border-bottom:1px solid #b0977e; table-layout:fixed;}
table.mobileListType th.title{background-color:#b09772;color:#ffffff;font-weight:bold;height:18px;text-align:center}
table.mobileListType td.right{height:18px;text-align:right;padding:0 4px 0 0}
table.mobileListType td.center{height:18px;text-align:center}
table.mobileListType td.left{height:18px;text-align:left;padding:0 0 0 4px}

.end {border-right:none !important;  }
.borderTNon {border-top:none !important; }
.alignRht {text-align:right !important; }


#PopWarp table.boardListType td {padding:8px 0 3px 0; text-align:center; }
#PopWarp table.boardListType td.address {padding:8px 0 3px 19px; text-align:left; }

table.tableSerachResult {margin-top:10px; }
table.tableSerachResult th {height:24px; background:#66cdd9 url(../../asset/images/agronet/bul_arr_down.gif) no-repeat right 11px; border-right:1px solid #ffffff; color:#ffffff; }
table.tableSerachResult th.end {border-right:none; }

/* 팝업 스타일 */
#PopWarp {width:400px; padding-bottom:16px; background:url(../../asset/images/agronet/bg_pop_wrap03.gif) no-repeat left bottom;  }
#PopWarp #PopContensWrap {width:388px; margin:22px 0 0 6px; }
#PopWarp #PopContensWrap h2 {margin-bottom:10px; }
#PopWarp #PopContensWrap h2 img {margin-left:10px; } 
#PopWarp #PopContensWrap .popContents {background:url(../../asset/images/agronet/bg_pop_contents_b.png) no-repeat left bottom; padding-bottom:53px; }
#PopWarp #PopContensWrap .popContents .popContentsInner {background:url(../../asset/images/agronet/bg_pop_contents_t.gif) no-repeat left top; padding-top:34px; }
* html #PopWarp #PopContensWrap .popContents {background:url(../../asset/images/agronet/bg_pop_contents_b.gif) no-repeat left bottom; padding-bottom:53px; }/* ie6 */

#PopWarp #PopContensWrap .postSearchBox {margin:0 19px 0 21px; padding:20px 0 25px 0; text-align:center; border:5px solid #e4e3d3; }
#PopWarp #PopContensWrap .postSearchBox input,
#PopWarp #PopContensWrap .postSearchBox img {vertical-align:middle; }
#PopWarp #PopContensWrap .postSearchBox input.textType {height:10px; padding-top:1px; }
#PopWarp #PopContensWrap .postSearchBox fieldset {margin-top:14px; }
#PopWarp #PopContensWrap .searchResult {margin:10px 19px 0 21px; border:5px solid #e4e3d3; }
#PopWarp #PopContensWrap .searchResult ul {height:58px; padding-top:6px; overflow:auto; }
#PopWarp #PopContensWrap .searchResult ul li {padding-left:11px; margin-bottom:7px; }

#PopWarp #PopContensWrap .farmSearchList {height:380px; margin:0 14px; overflow:auto; }

/* 셀렉트, 인풋 스타일 */
input.textType {height:10px; color:#474747; font-size:11px !important; font-family:Dotum; border:1px solid #cccccc; padding:3px 5px 5px 10px; }
input.writeRrt {text-align:right; }
input.checkboxType {vertical-align:middle; margin-top:-3px; }
input.radioType {vertical-align:middle; margin-top:-4px; }
textarea.textareaType {border:1px solid #cccccc; color:#474747; font-size:11px !important; font-family:Dotum; padding-left:10px; }
select.selectType {color:#86888c; font-size:11px !important; vertical-align:middle; }
input.calender { cursor:pointer; background:#fff url("../../asset/images/calendar.gif") right no-repeat; width:80px;
                  height:10px; color:#474747; font-size:11px !important; font-family:Dotum; border:1px solid #cccccc; padding:3px 5px 5px 10px; }

/* 마진 스타일 */
.mb10 {margin-bottom:10px; }
.mb01 {margin-bottom:1px; }
.mb03 {margin-bottom:3px; }

/* 상단 HEADER 스타일 */
#Header {height:64px; background: url(../../asset/images/agronet/bg_header.gif) no-repeat left top;  position:relative; }
#Header .logo {position:absolute; left:20px; top:10px; }
#Header .topMenuTab {
	width:100%;
	height:28px;
	overflow:hidden;
	position:absolute;
	left:200px;
	bottom:9px;
 
}
#Header .topMenuTab li {
height:28px;
background:url(../../asset/images/agronet/bg_tab_off_l.gif) no-repeat left top;
text-align:center;
float:left;
display:inline;
margin-right:1px; 
} 
#Header .topMenuTab a { height:28px; background:url(../../asset/images/agronet/bg_tab_off_r.gif) no-repeat right top; display:inline-block; padding:8px 18px 0 18px; font-size:12px; font-weight:bold; display:inline-block; font-family:Gulim; }
#Header .topMenuTab a span {height:28px; display:inline-block; cursor:pointer; }
#Header .topMenuTab li a:hover,
#Header .topMenuTab li a:active {color:#ffffff; }
#Header .topMenuTab li a:link,
#Header .topMenuTab li a:visited {color:#ffffff; }   /* 선택안된 대메뉴글자색 #ffffff */
#Header .topMenuTab li.on {background:url(../../asset/images/agronet/bg_tab_on_l.gif) no-repeat left top; text-align:center; float:left; height:28px; }
#Header .topMenuTab li.on a {background:url(../../asset/images/agronet/bg_tab_on_r.gif) no-repeat right top; display:inline-block; font-family:Gulim !important; }
#Header .topMenuTab li.on a span {background:url(../../asset/images/agronet/bul_arr_down02.gif) no-repeat right 6px; padding-right:15px;}
#Header .topMenuTab li.on a:hover,
#Header .topMenuTab li.on a:active {color:#ffffff; }
#Header .topMenuTab li.on a:link,
#Header .topMenuTab li.on a:visited {color:#ffffff; }

#Header ul.topMenu {position:absolute; right:70px; top:8px; color:#ffffff; font-weight:bold; }
#Header ul.topMenu a {color:#ffffff; font-weight:bold; font-size:11px !important; }
#Header ul.topMenu li {display:inline; margin-right:7px; }
#Header ul.topMenu li img {vertical-align:middle; margin-bottom:4px; }
#Header .logout {position:absolute; right:10px; top:6px; }




/* 메인 박스 스타일 */
.mainBoxWrapper {margin-left:20px; overflow:hidden; }
.mainBoxWrapper td.mainBoxCell {padding:0 17px 20px 0; }
.mainBoxWrapper .mainSectionWrap {width:464px; background:url(../images/agronet/bg_main_box_b.gif) no-repeat left bottom;  }
.mainBoxWrapper .mainSectionWrap h2 {height:26px; background:url(../images/agronet/bg_main_box_t.gif) no-repeat; font-size:12px; margin-bottom:15px; }
.mainBoxWrapper .mainSectionWrap h2 span {display:inline-block; padding:5px 0 0 27px; background:url(../images/agronet/bul_cir.gif) no-repeat 11px 8px; }

/* 페이징 스타일 */
.paging {width:100%; text-align:center; font-size:12px; font-family:Gulim; margin-top:13px; }
.paging span.divider {font-size:14px; color:#cccccc; }
.paging a.viewBefore,
.paging a.viewNext {color:#333333; }
.paging strong {color:#ff7635; }
.paging a strong {color:#404040; }

/* 로그인 스타일 */
body#Login {background:url(../../Asset/Images/agronet/bg_contents_login.jpg) no-repeat right bottom; }
#loginWrap {width:756px; height:425px; position:relative; left:50%; margin:0 0 0 -378px; }
#loginWrap .loginVisual {position:absolute; left:0; top:0; z-index:1; }
#loginWrap fieldset {border:none; }
#loginWrap p,
#loginWrap fieldset,
#loginWrap dl,
#loginWrap dt,
#loginWrap dd {padding:0; margin:0; line-height:normal; }
#loginWrap .loginBox {width:400px; height:196px; position:absolute; right:37px; bottom:0; z-index:2; }
#loginWrap .loginBox fieldset.loginInput {border-bottom:2px solid #d7d7d7; padding-bottom:9px; }
#loginWrap .loginBox fieldset.loginInput img,
#loginWrap .loginBox fieldset.loginInput input {vertical-align:middle; }
#loginWrap .loginBox fieldset.loginInput label {width:130px; display:inline-block; text-align:right; margin-right:3px; }
#loginWrap .loginBox fieldset.loginInput p {margin-bottom:10px; }
#loginWrap .loginBox fieldset.loginInput span.inputTxtWrap {width:160px; height:20px; background:url(../../Asset/Images/agronet/bg_input_txt_wrap.gif) no-repeat left top; display:inline-block; }
#loginWrap .loginBox fieldset.loginInput span.inputTxtWrap input {height:14px; border:none; background:transparent; font-family:Verdana,Dotum; font-size:11px; color:#797b80; margin:2px 0 0 10px; }
#loginWrap .loginBox fieldset.loginInput input.btnLogin {position:absolute; right:0; top:-5px; }
#loginWrap .loginBox fieldset.divCheck {height:87px; background:url(../../Asset/Images/agronet/bg_div_chk.gif) no-repeat left bottom; font-size:11px; color:#9c9c9c; }
#loginWrap .loginBox fieldset.divCheck dl {width:271px; margin-top:20px; float:right; }
#loginWrap .loginBox fieldset.divCheck dl dd {margin-top:16px; }
#loginWrap .loginBox fieldset.divCheck dl dd input {margin:0 0 3px 0; vertical-align:middle; }


#footer {width:100%; height:68px;POSITION: absolute;
	left:0;right:0; bottom:0;

}
.body{

	background: url(../../Asset/Images/agronet/bg_footer.gif) 0 0 repeat-x;
	height:68px;
	width:100%;
	text-align:center;
}

.download_body{ background-image:url(../Images/download/bg_body.gif);
height:859px;  }

.login_body{ background-image:url(../Images/login/bg_login.gif);
height:557px;  }

.login_title{position:absolute; top:180px; left:100px;}
.login_input{position:absolute; top:270px; left:520px; width:390px;}

.board_area{
width:710px; position:absolute; top:90px; left:135px; }

.pop_topAarea{ background-image:url(../Images/pop/pop_bg.gif); height:54px;}
.pop_bottomArea{ width:100%; background-color:#e6e6e7; text-align:right; height:20px;}

.mnal_area01{ width:245px; position:absolute; top:265px; left:170px;
}

.mnal_area02{ width:245px; position:absolute; top:265px; left:570px;
}

.mnal_area03{ width:640px; position:absolute; top:620px;; left:170px;
}

.float_L{ float:left}
.float_R{ float:right}

.align_C{ text-align:center;}
.line_top{border-top: 1px solid #dedfe1;}
.line_bottom{border-bottom: 1px solid #dedfe1;}
/*padding*/
.pad_T10{ padding-top:10px;}
.pad_T20{ padding-top:20px;}
.pad_T30{ padding-top:30px;}
.pad_T35{ padding-top:35px;}
.pad_T3B3{ padding-top:3px; padding-bottom:3px;}
.pad_T10B3{ padding-top:10px; padding-bottom:3px;}
.pad_B10{ padding-bottom:10px;}
.pad_B20{ padding-bottom:20px;}
.pad_B30{ padding-bottom:30px;}
.pad_L10{ padding-left:10px;}
.pad_L40{ padding-left:40px;}
.pad_R10{ padding-right:10px;}

.margin_T15B15{ margin-top:15px; margin-bottom:15px;}

input,textarea  {
vertical-align:middle; }

.i_text{position:relative;margin:2px;padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}

