﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    /*width: 960px;*/
    width: 98%;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


/* 임유석추가
----------------------------------------------------------*/


div.section
{ 
    padding: 10px 10px;        
    margin: 5px 0;     
    border: solid 1px #ddd;
    
    /*CSS3 properties*/
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;   
}

div.section_command
{      
    padding: 5px 10px;
    margin: 0;     
    border: 1px solid #fff;    
    
    color: #fff;    
    background-color: #6B696B;
}

div.section_loading
{     
    padding: 10px 10px;        
    margin: 5px 0;     
    border: solid 10px #ffbb55;
    
    /*CSS3 properties*/
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

div.section_edit
{      
    padding: 5px 10px;
    margin: 0;     
    border: 2px solid #fff;    
    
    color: #fff;    
    background-color: #6B696B;
}

table.tableType1
{   
    width:100%;
            
    table-layout:fixed;
    white-space:nowrap;
    
    padding: 0;
    margin: 0;  
    
    border-spacing: 0; 
    border-collapse:collapse;    
    border: 0 none;    
        
}

table.tableType1 tr
{
    background-color: #f7f7de;
    color: #000;
}

table.tableType1 tr.inactive
{
    background-color: #dd1100;
    color: #fff;
}

table.tableType1 tr.deleted
{
    background-color: #f7f7de;
    color: #666666;
}

table.tableType1 tr.new
{
    background-color: #f7f7de;
    color: #0066ff;
}

table.tableType1 th
{
    color: #fff;    
    background-color: #6B696B;
    font-weight: bold;       
    padding: 8px 4px; 
    border: 1px solid #fff;
}

table.tableType1 td
{ 
    overflow:auto;          
    padding: 4px; 
    border: 1px solid #fff;    
}

table.tableType2
{   
    width:100%;
            
    table-layout:fixed;
    white-space:nowrap;
    
    padding: 0;
    margin: 0;  
    
    border-spacing: 0; 
    border-collapse:collapse;    
    border: 0 none;
        
}

table.tableType2 tr
{
    background-color: #f7f7de;
    color: #000;
}

table.tableType2 th
{
    color: #fff;    
    background-color: #ffbb55;
    font-weight: bold;       
    padding: 8px 4px; 
    border: 1px solid #fff;
}

table.tableType2 td
{ 
    overflow:auto;          
    padding: 4px; 
    border: 1px solid #fff;    
}

div.section_tip
{   
    display:none;
    padding: 4px 1px; 
}

em.tip
{
    background-color: #009966;  
    color: #fff;
    padding: 4px 8px;  
}

div.section_tip span.close
{
    cursor:pointer;
    color: red;
    padding: 4px 4px; 
    font-size: .8em; 
}

.font_85
{
    font-size: 85%;
}
