@charset "utf-8";
@import url('default.css');

#smart_editor .tool li.embed button{ width:43px; background-position:-492px 0;}
#smart_editor .tool li.embed button.hover{ background-position:-492px -21px;}
#smart_editor .tool li.embed button.active{ background-position:-492px -42px;}
#smart_editor .tool.off li.embed button{ background-position:-492px -63px;}

#smart_editor .tool ul.extra {width:154px;}
#smart_editor .tool li.embed .layer{ width:242px;}
#smart_editor .tool li.embed .layer h3{ background:#f2f2f2; color:#333; height:21px; margin:0 0 11px 0; padding:7px 0 0 5px;}
#smart_editor .tool li.embed .layer .menu_tab{ position:relative; z-index:20; width:100%; *zoom:1;}
#smart_editor .tool li.embed .layer .menu_tab:after{ content:""; display:block; clear:both;}
#smart_editor .tool li.embed .layer .layer_tab{ position:relative; left:10px; padding:0; margin:0; clear:both;}
#smart_editor .tool li.embed .layer .layer_tab li{ position:relative; z-index:1; float:left; margin-right:1px; background:url(../img/btn_layer_tab.gif) no-repeat 0 0;}
#smart_editor .tool li.embed .layer .layer_tab li a{ position:relative; display:block; float:left; left:2px; height:15px; padding:4px 9px 0 5px; color:#404040; text-decoration:none; background:url(../img/btn_layer_tab.gif) no-repeat right 0;}
#smart_editor .tool li.embed .layer.loc .layer_tab li.tab1,
#smart_editor .tool li.embed .layer.src .layer_tab li.tab2{ top:-1px; margin-bottom:-1px;}
#smart_editor .tool li.embed .layer.loc .layer_tab li.tab1 a,
#smart_editor .tool li.embed .layer.src .layer_tab li.tab2 a{ height:18px;}
#smart_editor .tool li.embed .layer .container{ position:relative; z-index:1; clear:both; top:-2px;}
#smart_editor .tool li.embed .layer .container .bx{ display:none; position:relative; width:222px; left:10px; clear:both; z-index:1; background:url(../img/bx_find.gif) no-repeat;}
#smart_editor .tool li.embed .layer.loc .container #loc,
#smart_editor .tool li.embed .layer.src .container #src{ display:block;}

#smart_editor .tool li.embed .layer .bx fieldset{ position:relative; padding:13px 0 17px 11px;}
#smart_editor .tool li.embed .layer .bx fieldset *{ vertical-align:top;}
#smart_editor .tool li.embed .layer .bx label{ position:relative; top:4px; margin:0 7px 0 0; font-size:11px; letter-spacing:-1px; color:#333;}
#smart_editor .tool li.embed .layer .bx input{ padding:3px 0 0 4px; width:164px; _width /**/:170px; height:14px; _height /**/:19px; border:1px solid #acacac; border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
#smart_editor .tool li.embed .layer .bx .cap{ position:absolute; left:0; bottom:0; display:block; width:222px; height:2px; _margin:0 0 -1px 0; overflow:hidden; background:#fff url(../img/bx_find.gif) no-repeat left bottom; font-size:0; line-height:0;}
#smart_editor .tool li.embed .layer .bx#src fieldset{ height:50px; _height /**/:80px;}
#smart_editor .tool li.embed .layer .bx#src fieldset #embed_src{ padding:3px 0 0 4px; width:194px; _width /**/:200px; height:45px; _height /**/:50px; border:1px solid #acacac; border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
#smart_editor .tool li.embed .layer button.accept { width:38px; height:21px; background:url(../img/btn_layer_confirm.gif) no-repeat;}

#smart_editor .tool ul.maggot{ width:55px; z-index:1;}
#smart_editor .tool li.prv button{ background-image:url(../img/btn_prv.gif); background-repeat:no-repeat; width:43px; background-position:0px 0px;}
#smart_editor .tool li.prv button.hover{ background-position:0px -21px;}
#smart_editor .tool li.prv button.active{ background-position:0px -42px;}
#smart_editor .tool.off li.prv button{ background-position:0px -63px;}