@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* * { 
	font-family: '나눔고딕', NanumGothic, 'Nanum Gothic'; 
	margin: 0; padding: 0;
}

img, input { vertical-align: middle; }
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
input[type="radio"] {
    display: none;
  }
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

#logo-info {
	margin-bottom: 10px;
	padding: 5px 0;
	width: 100%;
	height: auto;
	border: 0px solid red;
}
#logo-info span {
	float: right;
	font-size: 9pt;
	padding-right: 5px;
}

#title{
	margin-top: 40px;
	margin-bottom: 50px;
	width: 100%;
	height: 30px;
	border: 0px solid #000;
}
#title img {
	margin: 5px 2px 0 5px;
	float: left;
}
#title p {
	margin: 5px 2px 0 5px;
	float: left;
	font-weight: 700;
}

#form-if{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 0px dashed #000;
}

#search {
	margin: 5px 26px;
	width: 95%;
	height: auto;
	border-bottom: 4px solid #ecf0f1;
	border-right: 4px solid #ecf0f1;
	border-radius: 10px;
}

#form-search {
	margin-bottom: 5px;
	margin-right: 5px;
	width: 98%;
	border: 0px solid #000;
	text-align: left;
}
#form-search tr.second-row {
	border-top: 1px solid #bdc3c7
}
#form-search tr.second-row > td.subj {
	border-top: 1px solid #fff;
}
#form-search tr > td.subj {
	text-align: left;
	padding: 13px 15px;
	width: 65px;
	min-width: 50px;
	font-size: 10pt;
	background: #2980b9;
	color: #fff;
}
#form-search tr > td.detail {
	width: 300px;
	padding: 13px 15px;
}

.form-date {
	height: 25px;
	font-size: 10pt;
	text-align: center;
}

#menu1 {
	margin-left: 20px;
}

#btnForm {
	width: 95%;
	margin: 5px 0 20px 26px;
	text-align: right;
	border: 0px solid #000;
}

#hiddenview {
	width: 90%;
	margin: 10px 0 10px 45px;
	padding-left: 40px;
	border: 0px solid #000;
	font-size: 9pt;
}

#chartview{
	margin: 10px auto 0 auto;
	width: 95%;
	height: 427px;
	border: 0px solid #000;
}

#tableview{
	margin: 5px auto;
	width: 95%;
	height: auto;
	border: 0px solid #000;
}

#mLayer {
	width: 99%;
	height: 85%;
	margin-top: 35px;
	border: 0px solid #000;
}
#recentview {
	width: 90%;
	height: 499px;
	border: 0px solid #000;
	float: left;
	margin-left: 30px;
	margin-right: 60px;
}
#rcontents {
	padding: 10px 5px;
	width: 20%;
	border: 0px solid #000;
	border-left: 1px solid #ecf0f1;
	height: 100%;
	float: left;
}
#rcontents > ul li {
	list-style: none;
}
#rcontents > ul li a 
#rcontents > ul li a:link
#rcontents > ul li a:visited{
	text-decoration: none;
}
#rcontents > ul li img {
	margin: 10px 25px;
	vertical-align: middle;
}
/* 
Submit Button
각종 Submit 버튼
.btn {
	float:right;
	border: none;
	font-family: inherit;
	font-size: 9pt;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 7px 10px;
	display: inline-block;
	margin: 10px 12%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 7px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1 {
	border: 2px solid #0e83cd;
	color: #0e83cd;
}
.btn-1a:hover,
.btn-1a:active {
	color: #fff;
	background: #0e83cd;
}
 */
 
/* textBox CSS */
/* 고객 출입로그 */
#customName {
	background: #f5f5f5; 
	font-size: 0.8rem; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	border: none; 
	padding: 5px 7px; 
	width:100px; 
	margin-bottom: 1px; 
	margin-left: 2px;
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 ); 
	clear: both; 
}
#customName:focus {
	background: #fff; 
    box-shadow: 0px 0px 0px 2px #0e83cd, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 ); 
    outline: none; 
}


/* Radio Switch Button  */
/* 기간별통계 조건검색 */
.switch {
  	margin-left: 10px;
	color: #6f839a;
	cursor: pointer;
	font-weight: 600;
	line-height: 1.5em;
	border-radius: 3px;
	padding: .15em .5em;
	display: inline-block;
	background-color: #3e4956;
	-webkit-transition: .15s ease;
	-moz-transition: .15s ease;
	-ms-transition: .15s ease;
	-o-transition: .15s ease;
	transition: .15s ease;
  }
  
  input[type="radio"]:checked + .switch {
	color: #fff;
	background-color: #0e83cd;
	padding-left: 1em;
	padding-right: 1em;
  }
