@CHARSET "UTF-8";

html, body { width: 100%; height: 100%; margin: 0; padding: 0;}

*{ margin: 0; padding: 0;}
#wrap{ width: 100%; margin: 0 auto; }
#topline{ width: 100%; position: absolute; height: 64px; background-color: #2980b9; }
#top{ margin: 0 auto; width: 1150px; height: auto;  border: 0px solid #000; }
#main{ margin: 0 auto; width: 1280px; height: 1080px; clear:both; border: 0px solid #000;}
#blank{ height: 50px; clear: both; border: 0px solid #000;}
#footer{ text-align: center; width: 100%; height: 15%; margin-top: 50px; border-top: 1px solid #e5e5e5;}
/* #header{ width: 20%; height: auto; float: left; border: 1px solid #000; min-width: 150px;} */

/* main  */
#tabs {
	width: 90%;
	height: 99%;
	margin: 0 auto;
	padding: 20px 10px 10px 0;
	border: 0px solid #000;
}

/* footer */
#footer p {
	margin: 30px 0;
	text-align: center;
	font-size: 10pt;
	color: #b8b8b8;
}

/* top menu */
#cssmenu > ul {
  background: #2980b9;
  padding-bottom: 3px;
  font-weight: 600;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  width: auto;
  zoom: 1;
}
#cssmenu > ul {
  background: #2980b9;
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu > ul > li {
  float: left;	/* 가로 리스트로 정렬 */
  position: relative;
}
#cssmenu > ul > li.logout {
	float: right;	
}
#cssmenu > ul > li > a {
  padding: 23px 26px;
  display: block;
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #c28130;
  text-shadow: 0 -1px 0 rgba(151, 99, 33, 0.43);
  line-height: 18px;
}
#cssmenu > ul > li:hover > a {
  background: #3498db;
}
#cssmenu > ul > li > a > span {
  line-height: 18px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li > a:active {
  background: #2980b9;
}
#cssmenu > ul > li.active:hover > a {
	background: #3498db;
}
/* Childs 하위세부메뉴 */
#cssmenu > ul ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100px;
  background: #2980b9;
  margin: 0;
  padding: 0;
  z-index: 4;
  -webkit-transition: all 0.35s 0.2s ease-in-out;
  -moz-transition: all 0.35s 0.2s ease-in-out;
  -ms-transition: all 0.35s 0.2s ease-in-out;
  transition: all 0.35s 0.2s ease-in-out;
}
#cssmenu > ul li:hover ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  color: #000;
  z-index: 4;
  top: 64px;
  left: 0;
}
#cssmenu > ul ul:before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: transparent;
}
#cssmenu > ul ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#cssmenu > ul ul li a {
  padding: 18px 26px; 
  display: block;
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  border-left: 4px solid transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-shadow: 0 -1px 0 #c28130;
  text-shadow: 0 -1px 0 rgba(151, 99, 33, 0.43);
}
#cssmenu > ul ul li a:hover {
  border-left: 4px solid #055988;
  background: #3498db;
}
#cssmenu > ul ul li a:active {
  background: #2980b9;
}

/* media Tag */
@media screen and (max-width:1280px) {
	#top { width:100%; }
	#main { width: 100%; }
}

@media screen and (max-width:710px) {
	#top { width: 100%; min-width: 710px;}
	#main { width: 100%; min-width: 710px; }	
	#footer { width: 100%; min-width: 710px;}
}

/* header 
#logo {
	margin-left: 30px;
	margin-top: 25px;
	height: 100px;
}
#sidemenu {
	margin: 0 12px;	
	width: 90%;
	margin-top: 25px;
	height: 450px;
}
#sidemenu h3 {
	font-size: 11pt;
}
#sidemenu ul {
	padding: 0;
	margin: 0 auto;
	list-style-image: url(../img/a_next_right.png);
}
.submenu {
	text-decoration: none;
	font-size: 10pt;
} */