﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="PopupMasterPage.master.cs" Inherits="MasterPage_PopupMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <link href="/Asset/Style/layout.css" rel="stylesheet" type="text/css" />
    <link href="/Asset/Style/menu_style.css" rel="stylesheet" type="text/css" />
    
    <script src="/Asset/Script/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/Asset/Script/jquery.cookie.js" type="text/javascript"></script>
    <script src="/Asset/Script/json2.js" type="text/javascript"></script>
    <script src="/Asset/Script/common.js" type="text/javascript"></script>
    <script src="/Asset/Script/tabs.js" type="text/javascript"></script>    
    
    <link type="text/css" href="/Asset/Script/jquery-ui-1.8.2.custom/css/ui-lightness/jquery-ui-1.8.2.custom.css" rel="stylesheet" />	
    <script type="text/javascript" src="/Asset/Script/jquery-ui-1.8.2.custom/js/jquery-ui-1.8.2.custom.min.js"></script>
    
    <asp:ContentPlaceHolder id="head" runat="server">
    

    </asp:ContentPlaceHolder>
</head>
<body id="Pop">
    <form id="form1" runat="server">
	<div > <!--  id="PopWarp" -->
	
	    <asp:ScriptManager ID="ScriptManager" runat="server" EnablePartialRendering="true"></asp:ScriptManager>
	    
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
