@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* { 
	font-family: '나눔고딕', NanumGothic, 'Nanum Gothic'; 
	margin: 0; padding: 0;
}

img, input { vertical-align: middle; }

table { 
	border-collapse: collapse;
	border-spacing: 0; 
}
/* #wrap{ width: 1024px; margin: 0 auto; } */

/* #title{
	margin: 20px 0;
	width: 100%;
	padding: 20px 0;
	height: 80px;
	border: 0px solid #000;
	text-align: center;
}
#title h2 {
	border: 0px solid #000;
} */

form {
	border: 0px solid #000;
}

#date-search{
	margin: 10px 0;
	padding: 5px 0;
	width: 100%;
	height: 35px;
	border: 0px solid #000;
}
#date-search a {
	margin-left: 10px;
	text-decoration: none;
}
#msg-table {
	margin: 10px 0;
	padding: 1px 0;
	width: 100%;
	border: 0px solid #000;
}
#input-menu {
	width: 98%;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 20px;
	padding-right: 20px;
	border: 0px solid #000;
}
#mtable {
	width: 100%;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
#mtable thead th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #000;
}
#mtable tbody td {
	text-align: center;
	padding: 5px 0;
	height: 25px;
}
#mtable tbody input[type='text'] {
	text-align: center;
	background: #f5f5f5; 
	font-size: 0.8rem; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	border: none; 
	padding: 5px 7px; 
	margin-bottom: 1px; 
	margin-left: 2px;
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 ); 
	clear: both; 
}
#mtable tbody input[type='text']:focus {
	background: #fff; 
    	box-shadow: 0px 0px 0px 2px #0e83cd, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 ); 
    	outline: none; 	
}
#itable {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
	border-top: 0px solid #000;
	border-bottom: 2px solid #000;
}
#itable thead th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	color: red;
	text-align: left;
	border-bottom: 2px solid #000;
}
#itable tbody td {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #000;
}
#itable tfoot td {
	text-align: center;
	padding: 7px 0;
	border-top: 0px solid #000;
}

#utable {
	width: 100%;
	margin-top: 50px;
	border-top: 0px solid #000;
	border-bottom: 2px solid #000;
}
#utable thead th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	color: red;
	text-align: left;
	border-bottom: 2px solid #000;
}
#utable tbody td {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #000;
}
#utable tfoot td {
	text-align: center;
	padding: 7px 0;
	border-top: 0px solid #000;
}

#mtable input[type='text'],
#itable input[type='text'],
#utable input[type='text'] {
	height: 20px;
}
#mtable tfoot input[type='text'],
#itable input[type='text'],
#utable input[type='text'] {
	text-align: center;
	background: #f5f5f5; 
	font-size: 0.8rem; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-ms-border-radius: 3px;
	border-radius: 3px; 
	border: none; 
	padding: 5px 7px; 
	margin-bottom: 1px; 
	margin-left: 2px;
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 ); 
	clear: both; 
}
#mtable tfoot input[type='text']:focus,
#itable input[type='text']:focus,
#utable input[type='text']:focus {
	background: #fff; 
	box-shadow: 0px 0px 0px 2px #0e83cd, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 ); 
	outline: none; 	
}

.nowmsg {
	background: yellow;
}

.form-date {
	height: 25px;
	text-align: center;
}

/* Submit Button */
/* Button Basic Template  */
.btn {
	float:center;
	padding: 5px 5px;
	border: none;
	font-family: inherit;
	font-size: 9pt;
	font-weight: 600;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 7px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* 등록, 수정 */
.btn-1 {
	border: 2px solid #0e83cd;
	color: #0e83cd;
	background: #fff;
	z-index: 3;
}

.btn-1a:hover,
.btn-1a:active {
	color: #fff;
	background: #0e83cd;
}

/* 삭제 */
.btn-2 {
	border: 2px solid #ED0136;
	color: #ED0136;
	background: #fff;
	z-index: 3;
}

.btn-2a:hover,
.btn-2a:active {
	color: #fff;
	background: #ED0136;
}

/* 수정 후 등록  */
.btn-3 {
	border: 2px solid #15AE25;
	color: #15AE25;
}

.btn-3a:hover,
.btn-3a:active {
	color: #fff;
	background: #15AE25;
}
