@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) 200812 */

html {overflow:auto}
body {height:100%}

/* Type Selector */
#smart_editor *{margin:0; padding:0; font-style:normal; font-size:12px; font-family: 돋움, Dotum, 굴림, Gulim, AppleGothic, Sans-serif;}
#smart_editor img, 
#smart_editor fieldset,
#smart_editor button{ border:0;}
#smart_editor button{ background:none; background-repeat:no-repeat; cursor:pointer; _cursor /**/:hand;}
#smart_editor button *{ visibility:hidden;}
#smart_editor legend{ position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
#smart_editor label{ cursor:pointer; _cursor /**/:hand;}
#smart_editor hr{ display:none;}
#smart_editor li{list-style:none;}

/* Layout Selector */
#smart_editor{ position:relative; background:#fff;}
#smart_editor #smart_content{ position:relative; clear:both; margin:0 0 10px 0; border:1px solid #c2c2c2; *zoom:1;}
#smart_editor #smart_footer{ position:relative; text-align:center; padding:10px 0;}

/* Footer */
#smart_editor #smart_footer *{ vertical-align:top;}
#smart_editor #smart_footer button{ position:relative; width:67px; height:25px; margin:0 5px 0 0;}
#smart_editor #smart_footer button.save_temp{ background:url(../img/btn_save_temp.gif) no-repeat;}
#smart_editor #smart_footer button.preview{ background:url(../img/btn_preview.gif) no-repeat;}
#smart_editor #smart_footer input{ margin:0;}
#smart_editor #smart_footer input.reset{ width:67px; height:25px; border:0; background:url(../img/btn_cancel.gif) no-repeat; cursor:pointer; margin-left:5px;}

/* Content > Input Area */
#smart_editor a.skip{ position:relative; display:block; top:0; right:0; width:0; height:0; overflow:hidden; clear:both; zoom:1}
#smart_editor a.skip:hover,
#smart_editor a.skip:active,
#smart_editor a.skip:focus{ position:relative; display:block; padding:5px; right:0; z-index:60; width:auto; height:auto; text-align:right; white-space:nowrap; color:#000; text-decoration:none; letter-spacing:-1px; _zoom:1;}

#smart_editor .input_area{ position:relative; margin:10px; z-index:30; *zoom:1; height:400px;}
#smart_editor .input_area iframe,
#smart_editor .input_area textarea{ display:block; width:100%; position:relative; height:100%; border:0; overflow:auto;}
#smart_editor .input_area iframe{}
#smart_editor .input_area textarea{ *margin:0 -10px; _margin-bottom:-2px;}
#smart_editor .input_area textarea.blind{ display:none;}
#smart_editor .input_control{ position:relative; display:block; width:100%; clear:both; text-align:center; background:#fbfbfb url(../img/btn_expand.gif) no-repeat center center; cursor:n-resize;}
#smart_editor .input_control span{ display:block; height:10px; border-top:1px solid #dfdfdf; visibility:visible; font-size:0; line-height:200%; white-space:nowrap; color:#fff;}

#smart_editor .tool{ position:relative; overflow:visible; padding:5px 0 6px 0; *padding:5px 0 8px 0; z-index:40; clear:both; background:#f8f8f8 url(../img/bg_tool.gif) repeat-x left bottom; border:0; *zoom:1;}
#smart_editor .tool:after{ content:""; display:block; clear:both;}
#smart_editor .tool ul{ position:relative; overflow:visible; float:left; margin:0 5px 2px 0; z-index:2;}
#smart_editor .tool ul.action{ width:43px;}
#smart_editor .tool ul.type{ width:auto; white-space:nowrap;}
#smart_editor .tool ul.style{ width:169px; z-index:3;}
#smart_editor .tool ul.paragraph{ width:169px; z-index:2;}
#smart_editor .tool ul.extra{ width:111px; z-index:1;}
#smart_editor .tool li{ position:relative; float:left; left:8px;}
#smart_editor .tool li button{ width:21px; height:21px; background:url(../img/btn_set.gif) no-repeat 0 0; vertical-align:top;}
#smart_editor .tool li button span{ position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden;}

#smart_editor .tool li.style button span{ position:relative; display:block; width:auto; height:auto; padding:3px 0 0 5px; visibility:visible; text-align:left; letter-spacing:-1px;}
#smart_editor .tool .type li{ float:none; display:inline; *top:1px;}
#smart_editor .tool .type li select{ height:21px; width:62px;}
#smart_editor .tool .html{ position:relative; right:7px; float:right; width:44px; height:23px; margin:-1px 0; background:url(../img/btn_html.gif) no-repeat 0 0;}
#smart_editor .tool .html span{ position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden;}

/* Content > Tool > Button Default */
#smart_editor .tool li.undo button{ width:22px; background-position:0 0;}
#smart_editor .tool li.redo button{ background-position:-22px 0;}
#smart_editor .tool li.bold button{ width:22px; background-position:-43px 0;}
#smart_editor .tool li.underline button{ background-position:-65px 0;}
#smart_editor .tool li.italic button{ background-position:-86px 0;}
#smart_editor .tool li.del button{ background-position:-107px 0;}
#smart_editor .tool li.fcolor button{ background-position:-128px 0;}
#smart_editor .tool li.bcolor button{ background-position:-149px 0;}
#smart_editor .tool li.sup button{ background-position:-170px 0;}
#smart_editor .tool li.sub button{ background-position:-191px 0;}
#smart_editor .tool li.left button{ width:22px; background-position:-212px 0;}
#smart_editor .tool li.center button{ background-position:-234px 0;}
#smart_editor .tool li.right button{ background-position:-255px 0;}
#smart_editor .tool li.justify button{ background-position:-276px 0;}
#smart_editor .tool li.ol button{ background-position:-297px 0;}
#smart_editor .tool li.ul button{ background-position:-318px 0;}
#smart_editor .tool li.outdent button{ background-position:-339px 0;}
#smart_editor .tool li.indent button{ background-position:-360px 0;}
#smart_editor .tool li.blockquote button{ width:22px; background-position:-381px 0;}
#smart_editor .tool li.url button{ width:26px; background-position:-403px 0;}
#smart_editor .tool li.table button{ background-position:-429px 0;}
#smart_editor .tool li.character button{ background-position:-450px 0;}
#smart_editor .tool li.find button{ background-position:-471px 0;}
#smart_editor .tool .html{ background-position:0 0;}

/* Content > Tool > Button Hover */
#smart_editor .tool li.undo button.hover{ width:22px; background-position:0 -21px;}
#smart_editor .tool li.redo button.hover{ background-position:-22px -21px;}
#smart_editor .tool li.bold button.hover{ width:22px; background-position:-43px -21px;}
#smart_editor .tool li.underline button.hover{ background-position:-65px -21px;}
#smart_editor .tool li.italic button.hover{ background-position:-86px -21px;}
#smart_editor .tool li.del button.hover{ background-position:-107px -21px;}
#smart_editor .tool li.fcolor button.hover{ background-position:-128px -21px;}
#smart_editor .tool li.bcolor button.hover{ background-position:-149px -21px;}
#smart_editor .tool li.sup button.hover{ background-position:-170px -21px;}
#smart_editor .tool li.sub button.hover{ background-position:-191px -21px;}
#smart_editor .tool li.left button.hover{ width:22px; background-position:-212px -21px;}
#smart_editor .tool li.center button.hover{ background-position:-234px -21px;}
#smart_editor .tool li.right button.hover{ background-position:-255px -21px;}
#smart_editor .tool li.justify button.hover{ background-position:-276px -21px;}
#smart_editor .tool li.ol button.hover{ background-position:-297px -21px;}
#smart_editor .tool li.ul button.hover{ background-position:-318px -21px;}
#smart_editor .tool li.outdent button.hover{ background-position:-339px -21px;}
#smart_editor .tool li.indent button.hover{ background-position:-360px -21px;}
#smart_editor .tool li.blockquote button.hover{ width:22px; background-position:-381px -21px;}
#smart_editor .tool li.url button.hover{ width:26px; background-position:-403px -21px;}
#smart_editor .tool li.table button.hover{ background-position:-429px -21px;}
#smart_editor .tool li.character button.hover{ background-position:-450px -21px;}
#smart_editor .tool li.find button.hover{ background-position:-471px -21px;}
#smart_editor .tool .html.hover{ background-position:0 -23px;}

/* Content > Tool > Button Active */
#smart_editor .tool li.undo button.active{ width:22px; background-position:0 -42px;}
#smart_editor .tool li.redo button.active{ background-position:-22px -42px;}
#smart_editor .tool li.bold button.active{ width:22px; background-position:-43px -42px;}
#smart_editor .tool li.underline button.active{ background-position:-65px -42px;}
#smart_editor .tool li.italic button.active{ background-position:-86px -42px;}
#smart_editor .tool li.del button.active{ background-position:-107px -42px;}
#smart_editor .tool li.fcolor button.active{ background-position:-128px -42px;}
#smart_editor .tool li.bcolor button.active{ background-position:-149px -42px;}
#smart_editor .tool li.sup button.active{ background-position:-170px -42px;}
#smart_editor .tool li.sub button.active{ background-position:-191px -42px;}
#smart_editor .tool li.left button.active{ width:22px; background-position:-212px -42px;}
#smart_editor .tool li.center button.active{ background-position:-234px -42px;}
#smart_editor .tool li.right button.active{ background-position:-255px -42px;}
#smart_editor .tool li.justify button.active{ background-position:-276px -42px;}
#smart_editor .tool li.ol button.active{ background-position:-297px -42px;}
#smart_editor .tool li.ul button.active{ background-position:-318px -42px;}
#smart_editor .tool li.outdent button.active{ background-position:-339px -42px;}
#smart_editor .tool li.indent button.active{ background-position:-360px -42px;}
#smart_editor .tool li.blockquote button.active{ width:22px; background-position:-381px -42px;}
#smart_editor .tool li.url button.active{ width:26px; background-position:-403px -42px;}
#smart_editor .tool li.table button.active{ background-position:-429px -42px;}
#smart_editor .tool li.character button.active{ background-position:-450px -42px;}
#smart_editor .tool li.find button.active{ background-position:-471px -42px;}
#smart_editor .tool .html.active{ background-position:0 -46px;}

/* Content > Tool > Button Off */
#smart_editor .tool.off li.undo button,
#smart_editor .tool li.undo button.off{ width:22px; background-position:0 -63px;}
#smart_editor .tool.off li.redo button,
#smart_editor .tool li.redo button.off{ background-position:-22px -63px;}
#smart_editor .tool.off li.bold button{ width:22px; background-position:-43px -63px;}
#smart_editor .tool.off li.underline button{ background-position:-65px -63px;}
#smart_editor .tool.off li.italic button{ background-position:-86px -63px;}
#smart_editor .tool.off li.del button{ background-position:-107px -63px;}
#smart_editor .tool.off li.fcolor button{ background-position:-128px -63px;}
#smart_editor .tool.off li.bcolor button{ background-position:-149px -63px;}
#smart_editor .tool.off li.sup button{ background-position:-170px -63px;}
#smart_editor .tool.off li.sub button{ background-position:-191px -63px;}
#smart_editor .tool.off li.left button{ width:22px; background-position:-212px -63px;}
#smart_editor .tool.off li.center button{ background-position:-234px -63px;}
#smart_editor .tool.off li.right button{ background-position:-255px -63px;}
#smart_editor .tool.off li.justify button{ background-position:-276px -63px;}
#smart_editor .tool.off li.ol button{ background-position:-297px -63px;}
#smart_editor .tool.off li.ul button{ background-position:-318px -63px;}
#smart_editor .tool.off li.outdent button{ background-position:-339px -63px;}
#smart_editor .tool.off li.indent button{ background-position:-360px -63px;}
#smart_editor .tool.off li.blockquote button{ width:22px; background-position:-381px -63px;}
#smart_editor .tool.off li.url button{ width:26px; background-position:-403px -63px;}
#smart_editor .tool.off li.table button{ background-position:-429px -63px;}
#smart_editor .tool.off li.character button{ background-position:-450px -63px;}
#smart_editor .tool.off li.find button{ background-position:-471px -63px;}
#smart_editor .tool.off li button{ cursor:default;}
#smart_editor .tool.off .html{ background-position:0 -46px;}

/* Content > Tool > Layer */
#smart_editor .tool .layer{ display:none; position:absolute; left:0; top:20px; background-color:#fbfbfb; border:1px solid #c5c5c5; border-right:1px solid #9f9f9f; border-bottom:1px solid #9f9f9f;}
#smart_editor .tool .layer li{ float:none; left:0;}
#smart_editor .tool .layer button{ margin:0 !important; width:auto; height:auto; background:none;}
#smart_editor .tool .layer button span{ position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
#smart_editor .tool .btn_area{ position:relative; clear:both; text-align:center !important; padding:7px 0 12px 0; width:100%; white-space:nowrap; *zoom:1;}
#smart_editor .tool .btn_area *{ vertical-align:top;}
#smart_editor .tool button.close{ position:absolute; top:4px; right:3px; width:21px; height:20px; background:url(../img/btn_layer_close.gif) no-repeat center center !important;}
#smart_editor .tool button.close span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
#smart_editor .tool .layer .btn_area button{ *margin:0 2px !important;}
#smart_editor .tool .layer .btn_area button.confirm{ width:38px; height:21px; background:url(../img/btn_layer_confirm.gif) no-repeat;}
#smart_editor .tool .layer .btn_area button.cancel{ width:38px; height:21px; background:url(../img/btn_layer_cancel.gif) no-repeat;}

#smart_editor .tool li.fcolor .layer{ width:218px !important; height:auto !important; background-image:none !important; overflow:hidden;}
#smart_editor .tool .layer .palette{ width:210px; position:relative; left:7px; padding:8px 0 7px 0; margin:0;}
#smart_editor .tool .layer .palette li{ float:left; margin:0 1px 1px 0; font-size:0; line-height:0;}
#smart_editor .tool .layer .palette button{ position:relative; overflow:hidden; width:11px; height:11px;}

#smart_editor .tool li.bcolor .layer { width:218px; overflow:hidden;}
#smart_editor .tool .layer .background{ width:210px; position:relative; left:7px; margin:0 0 -2px 0; padding:8px 0 0 0; *padding-bottom:8px; _padding-bottom:4px;}
#smart_editor .tool .layer .background li{ float:left; margin:0 5px 2px 0;}
#smart_editor .tool .layer .background button{ position:relative; overflow:hidden; width:65px; height:19px; text-align:left; padding:4px;}
#smart_editor .tool .layer .background button span{ position:relative; visibility:visible; font-size:12px; line-height:normal; width:auto; height:auto;}

#smart_editor .tool li.style .layer{ padding:4px 2px; _overflow:hidden; filter:progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=2);}
#smart_editor .tool li.style .layer li{ position:relative; background:#fbfbfb;}
#smart_editor .tool li.style .layer li button{ display:block; width:134px; position:relative;}
#smart_editor .tool li.style .layer li button span{ display:block; width:130px; text-align:left; letter-spacing:normal;}
#smart_editor .tool li.style .layer li.h3 button span{ padding:3px 0 1px 4px; height:15px; _height /**/:19px; font-size:16px; font-weight:bold;}
#smart_editor .tool li.style .layer li.h4 button span{ padding:3px 0 2px 4px; height:13px; _height /**/:18px; font-size:14px; font-weight:bold;}
#smart_editor .tool li.style .layer li.h5 button span{ padding:3px 0 1px 4px; height:11px; _height /**/:15px; font-size:12px; font-weight:bold;}
#smart_editor .tool li.style .layer li.h6 button span{ padding:3px 0 1px 4px; height:11px; _height /**/:15px; font-size:12px;}
#smart_editor .tool li.style .layer li.p button span{ padding:3px 0 1px 4px; height:11px; _height /**/:15px; font-size:12px; color:#5d5d5d;}
#smart_editor .tool li.style .layer li button.hover{ background:#c1f471; *height:1%;}

#smart_editor .tool li.blockquote .layer{ padding:6px 5px 6px 7px; left:0; width:288px;}
#smart_editor .tool li.blockquote .layer ul{ *zoom:1; margin:0;}
#smart_editor .tool li.blockquote .layer ul:after{ content:""; display:block; clear:both;}
#smart_editor .tool li.blockquote .layer li{ position:relative; float:left; overflow:hidden; width:32px; height:34px; margin:0 2px 0 0; border:1px solid #cdcecc; background-image:url(../img/btn_qmark.gif); background-repeat:no-repeat;}
#smart_editor .tool li.blockquote .layer li.q1{ background-position:0 0;}
#smart_editor .tool li.blockquote .layer li.q2{ background-position:-32px 0;}
#smart_editor .tool li.blockquote .layer li.q3{ background-position:-64px 0;}
#smart_editor .tool li.blockquote .layer li.q4{ background-position:-96px 0;}
#smart_editor .tool li.blockquote .layer li.q5{ background-position:-128px 0;}
#smart_editor .tool li.blockquote .layer li.q6{ background-position:-160px 0;}
#smart_editor .tool li.blockquote .layer li.q7{ background-position:-192px 0;}
#smart_editor .tool li.blockquote .layer li.q8{ background-position:-224px 0;}
#smart_editor .tool li.blockquote .layer li button{ width:32px; height:34px;}

#smart_editor .tool li.url .layer{ width:231px; height:125px; background-image:url(../img/bx_url.gif); background-repeat:no-repeat; background-position:10px 14px;}
#smart_editor .tool li.url .layer fieldset{ position:absolute; width:212px; left:10px; top:14px;}
#smart_editor .tool li.url .layer fieldset h3{ position:absolute; top:-4px; left:15px; color:#404040; visibility:visible; font-size:12px; line-height:normal; width:auto; height:auto; background:none; margin:0; padding:0; font-weight:normal;}
#smart_editor .tool li.url .layer fieldset input.link{ position:absolute; left:12px; top:19px; width:179px; padding:2px 0 1px 6px; *margin:-1px 0; font-size:11px; height:13px; border:1px solid #818181; border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
#smart_editor .tool li.url .layer fieldset p{ position:absolute; left:12px; top:44px;}
#smart_editor .tool li.url .layer fieldset p input{ width:13px; height:13px; vertical-align:middle; margin-right:3px;}
#smart_editor .tool li.url .layer .btn_area{ position:absolute; bottom:12px; padding:0;}

#smart_editor .tool li.table .layer{ width:242px; height:239px; background-image:url(../img/bx_table.gif); background-repeat:no-repeat; background-position:10px 14px;}
#smart_editor .tool li.table .layer fieldset{ position:absolute; width:222px; left:10px;}
#smart_editor .tool li.table .layer fieldset h3{ position:absolute; top:-4px; left:15px; color:#404040; visibility:visible; font-size:12px; line-height:normal; width:auto; height:auto; background:none; margin:0; padding:0; font-weight:normal;}

#smart_editor .tool li.table .layer fieldset dl{ position:absolute; left:10px;}
#smart_editor .tool li.table .layer fieldset dt{ float:left; padding:3px 0 0 0; height:20px; white-space:nowrap; letter-spacing:-1px;}
#smart_editor .tool li.table .layer fieldset dd{ float:right; position:relative;}
#smart_editor .tool li.table .layer fieldset dd button.add,
#smart_editor .tool li.table .layer fieldset dd button.del{ position:absolute; left:27px; width:15px; height:8px; background:url(../img/btn_layer_cell_adjust.gif) no-repeat;}
#smart_editor .tool li.table .layer fieldset dd button.add{ top:1px;}
#smart_editor .tool li.table .layer fieldset dd button.del{ top:9px; background-position:0 -8px;}
#smart_editor .tool li.table .layer fieldset dd .preview_palette{ display:block; float:left; margin:0 3px 0 0; padding:2px; position:relative; border:1px solid #c8c9c6; width:14px; height:14px; overflow:hidden;}
#smart_editor .tool li.table .layer fieldset dd .preview_palette button{ width:14px; height:14px; font-size:500px; line-height:0;}
#smart_editor .tool li.table .layer fieldset dd .find_palette{ width:33px; height:20px; background:url(../img/btn_search.gif) no-repeat;}

#smart_editor .tool li.table .layer fieldset.num{ top:14px;}
#smart_editor .tool li.table .layer fieldset.num dl{ top:18px; width:60px;}
#smart_editor .tool li.table .layer fieldset.num dt{ height:20px;}
#smart_editor .tool li.table .layer fieldset.num dd{ height:23px;}
#smart_editor .tool li.table .layer fieldset.num dt label{ font-size:11px; color:#333;}
#smart_editor .tool li.table .layer fieldset.num dd input{ padding:3px 0 0 6px; *margin:-1px 0; width:35px; height:13px; font-size:11px; border:1px solid #818181; border-right:1px solid #dadada; border-bottom:1px solid #dadada;}

#smart_editor .tool li.table .layer fieldset.color{ top:96px;}
#smart_editor .tool li.table .layer fieldset.color dl{ top:18px; width:210px;}
#smart_editor .tool li.table .layer fieldset.color dt{ height:23px;}
#smart_editor .tool li.table .layer fieldset.color dd{ height:26px; width:146px;}
#smart_editor .tool li.table .layer fieldset.color dt label{ font-size:11px; color:#333;}
#smart_editor .tool li.table .layer fieldset.color dd input{ padding:3px 0 0 6px; *margin:-1px 0; font-size:11px; border:1px solid #818181; border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
#smart_editor .tool li.table .layer fieldset.color dd input#table_border_width{ width:35px; height:13px;}
#smart_editor .tool li.table .layer fieldset.color dd input#table_border_color,
#smart_editor .tool li.table .layer fieldset.color dd input#table_bg_color{ width:70px; height:15px; *margin-right:3px;}

#smart_editor .tool li.table .layer table{ position:absolute; top:18px; left:75px; width:137px; height:40px; table-layout:fixed;}
#smart_editor .tool li.table .layer table *{ font-size:0; line-height:0;}
#smart_editor .tool li.table .layer table th,
#smart_editor .tool li.table .layer table td{ text-align:center;}
#smart_editor .tool li.table .layer .btn_area{ position:absolute; bottom:12px; padding:0; z-index:1;}

#smart_editor .tool li.table .layer .palette{ display:none; position:absolute; z-index:2; left:11px; width:204px; padding:8px 7px 7px 7px; _padding-right:6px; background-color:#fbfbfb; border:1px solid #c5c5c5; border-right:1px solid #9f9f9f; border-bottom:1px solid #9f9f9f;}
#smart_editor .tool li.table .layer.p1 .palette{ display:block; top:163px;}
#smart_editor .tool li.table .layer.p2 .palette{ display:block; top:189px;}

#smart_editor .tool li.character .layer{ width:433px; height:242px; overflow:hidden;}
#smart_editor .tool li.character .layer ul{ margin:0;}
#smart_editor .tool li.character .layer h3{position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
#smart_editor .tool li.character .layer .nav{ position:absolute; top:11px; left:-1px; overflow:hidden; white-space:nowrap;}
#smart_editor .tool li.character .layer .nav li{ display:inline; margin:0 -4px 0 0; padding:0 8px; background:url(../img/vr_layer_character.gif) no-repeat 0 0;}
#smart_editor .tool li.character .layer .nav li a{ color:#444; text-decoration:none; letter-spacing:-1px;}
#smart_editor .tool li.character .layer .nav li a:hover,
#smart_editor .tool li.character .layer .nav li a:active,
#smart_editor .tool li.character .layer .nav li a:focus{ text-decoration:underline;}
#smart_editor .tool li.character .layer .nav li a.on{ font-weight:bold; color:#004790; display:inline;}
#smart_editor .tool li.character .layer .list{ position:absolute; left:7px; top:30px; width:421px; height:172px; background:url(../img/bx_character.gif) no-repeat;}
#smart_editor .tool li.character .layer .list li{ position:relative; top:1px; left:1px; float:left; width:20px; height:18px; margin:0 1px 1px 0;}
#smart_editor .tool li.character .layer .list li button{ width:20px; height:18px;}
#smart_editor .tool li.character .layer .list li button.hover{ border:2px solid #27c11a;}
#smart_editor .tool li.character .layer .list li button span{ overflow:visible; font-size:12px; width:auto; height:auto; position:relative; visibility:visible; line-height:normal;}
#smart_editor .tool li.character .layer p{ position:absolute; top:212px; left:7px;}
#smart_editor .tool li.character .layer p *{ vertical-align:top;}
#smart_editor .tool li.character .layer p label{ position:relative; top:4px; margin:0 7px 0 0; color:#333; letter-spacing:-1px;}
#smart_editor .tool li.character .layer p input{ padding:3px 0 0 4px; margin:0 4px 0 0; width:300px; _width /**/:306px; height:16px; _height /**/:20px; border:1px solid #acacac; border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
#smart_editor .tool li.character .layer p button{ position:relative; *top:1px; width:38px; height:21px; background:url(../img/btn_layer_confirm.gif) no-repeat;}
#smart_editor .tool li.character .layer p button span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}

#smart_editor .tool li.find .layer{ width:242px;}
#smart_editor .tool li.find .layer h3{ background:#f2f2f2; color:#333; height:21px; margin:0 0 11px 0; padding:7px 0 0 5px;}
#smart_editor .tool li.find .layer .menu_tab{ position:relative; z-index:20; width:100%; *zoom:1;}
#smart_editor .tool li.find .layer .menu_tab:after{ content:""; display:block; clear:both;}
#smart_editor .tool li.find .layer .layer_tab{ position:relative; left:10px; padding:0; margin:0; clear:both;}
#smart_editor .tool li.find .layer .layer_tab li{ position:relative; z-index:1; float:left; margin-right:1px; background:url(../img/btn_layer_tab.gif) no-repeat 0 0;}
#smart_editor .tool li.find .layer .layer_tab li a{ position:relative; display:block; float:left; left:2px; height:15px; padding:4px 9px 0 5px; color:#404040; text-decoration:none; background:url(../img/btn_layer_tab.gif) no-repeat right 0;}
#smart_editor .tool li.find .layer.find .layer_tab li.tab1,
#smart_editor .tool li.find .layer.replace .layer_tab li.tab2{ top:-1px; margin-bottom:-1px;}
#smart_editor .tool li.find .layer.find .layer_tab li.tab1 a,
#smart_editor .tool li.find .layer.replace .layer_tab li.tab2 a{ height:18px;}
#smart_editor .tool li.find .layer .container{ position:relative; z-index:1; clear:both; top:-2px;}
#smart_editor .tool li.find .layer .container .bx{ display:none; position:relative; width:222px; left:10px; clear:both; z-index:1; background:url(../img/bx_find.gif) no-repeat;}
#smart_editor .tool li.find .layer.find .container #find,
#smart_editor .tool li.find .layer.replace .container #replace{ display:block;}

#smart_editor .tool li.find .layer .bx fieldset{ position:relative; padding:13px 0 17px 11px;}
#smart_editor .tool li.find .layer .bx fieldset *{ vertical-align:top;}
#smart_editor .tool li.find .layer .bx label{ position:relative; top:4px; margin:0 7px 0 0; font-size:11px; letter-spacing:-1px; color:#333;}
#smart_editor .tool li.find .layer .bx input{ padding:3px 0 0 4px; width:144px; _width /**/:150px; height:14px; _height /**/:19px; border:1px solid #acacac; border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
#smart_editor .tool li.find .layer .bx .cap{ position:absolute; left:0; bottom:0; display:block; width:222px; height:2px; _margin:0 0 -1px 0; overflow:hidden; background:#fff url(../img/bx_find.gif) no-repeat left bottom; font-size:0; line-height:0;}
#smart_editor .tool li.find .layer .bx#replace fieldset{ height:45px; _height /**/:75px;}
#smart_editor .tool li.find .layer .bx#replace fieldset #keyword2{ margin-bottom:6px;}
#smart_editor .tool li.find .layer .btn_area button{ display:none; *margin:0 2px !important;}
#smart_editor .tool li.find .layer.find .btn_area .find_next{ display:inline; width:62px; height:21px; background:url(../img/btn_layer_find_next_strong.gif) no-repeat;}
#smart_editor .tool li.find .layer.replace .btn_area .find_next{ display:inline; width:55px; height:21px; background:url(../img/btn_layer_find_next.gif) no-repeat;}
#smart_editor .tool li.find .layer.replace .btn_area .replace{ display:inline; width:48px; height:21px; background:url(../img/btn_layer_replace.gif) no-repeat;}
#smart_editor .tool li.find .layer.replace .btn_area .replace_all{ display:inline; width:69px; height:21px; background:url(../img/btn_layer_replace_all.gif) no-repeat;}
#smart_editor .tool li.find .layer .btn_area .cancel{ display:inline;}
