@CHARSET "UTF-8";

*{ font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif; }

#wrap{ width: 100%; margin: 0 auto; }

table { 
	border-collapse: collapse;
	border-spacing: 0; 
}

#listTable {
	width: 100%;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

#listTable tr th {
	padding: 10px 0;
}

#listTable tr th.notice_title {
	width: 300px;
}

#listTable tr th.shop_title {
	width: 180px;
}

#listTable tr th.sijang_title {
	width: 200px;
}

#listTable tr#thead {
	border-bottom: 1px solid #000;
}

#listTable tr td {
	padding: 2px 0 2px 2px;
}

#listTable tr td.td_center {
	text-align: center;
}

#listTable tr td.td_center_btn {
	width: 45px;
}

#form-if{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 0px dashed #000;
}

#form-search {
	margin-bottom: 5px;
	margin-right: 5px;
	width: 98%;
	border: 0px solid #000;
	text-align: left;
}

#form-search tr.first-row {
	border-bottom: 1px solid #bdc3c7;
}
#form-search tr.first-row > td.subj {
	border-bottom: 1px solid #fff;
}

#form-search tr.second-row {
	border-bottom: 1px solid #bdc3c7
}
#form-search tr.second-row > td.subj {
	border-bottom: 1px solid #fff;
}
#form-search tr > td.subj {
	text-align: left;
	padding: 13px 15px;
	width: 65px;
	min-width: 50px;
	font-size: 10pt;
	background: #2c3e50;
	color: #fff;
}
#form-search tr > td.detail {
	width: 300px;
	padding: 13px 15px;
}

.form-date {
	height: 25px;
	font-size: 10pt;
	text-align: center;
}

#menu1 {
	margin-left: 20px;
}

/* Statistics css */
#btnForm {
	width: 95%;
	margin: 5px 0 20px 26px;
	text-align: right;
	border: 0px solid #000;
}

#hiddenview {
	width: 90%;
	margin: 10px 0 10px 45px;
	padding-left: 40px;
	border: 0px solid #000;
	font-size: 9pt;
}

#chartview{
	margin: 10px auto 0 auto;
	width: 95%;
	height: 427px;
	border: 0px solid #000;
}

#tableview{
	margin: 5px auto;
	width: 95%;
	height: auto;
	border: 0px solid #000;
}

.toptenTable {
	padding-left: 0px;
}

.tableCellClass {
	text-align: center;
	height: 25px;
}

/* Submit Button */
/* Button Basic Template  */
.btn {
	float:center;
	padding: 5px 5px;
	margin: 1px 1px;
	border: none;
	font-family: inherit;
	font-size: 9pt;
	font-weight: 600;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 7px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 2px solid #0e83cd;
	color: #0e83cd;
	background: #fff;
	z-index: 3;
}

.btn-1a:hover,
.btn-1a:active {
	color: #fff;
	background: #0e83cd;
}

/* 삭제 */
.btn-2 {
	border: 2px solid #ED0136;
	color: #ED0136;
	background: #fff;
	z-index: 3;
}

.btn-2a:hover,
.btn-2a:active {
	color: #fff;
	background: #ED0136;
}
