@CHARSET "UTF-8";

html, body { width: 100%; height: 100%; margin: 0; padding: 0;}

*{ margin: 0; padding: 0;}
#wrap{ width: 100%; margin: 0 auto; }
#toplogo{ margin: 0 auto; width: 100%; height: 35px;  border: 0px solid #000; background: #2c3e50;}
#topmenu{ margin: 0 auto; width: 100%; height: auto;  border: 0px solid #000; }
#main{ margin: 20px auto 0 auto; width: 1024px; height: 1024px; clear:both; border: 0px solid #000;}
#pgtitie{ margin: 10px auto; border: 0px solid #000; }
#listmain{ margin-top: 25px; padding: 0 5px; border: 0px solid #000; }
#div_btn { width: 50%; border: 0px solid #000;}

#div_list {
	margin-top: 10px;
	padding: 7px;
	border: 0px solid #000;	
}
#toplogo > img {
	margin-top: 10px;
	margin-left: 10px;
}

#loading {
 width: 100%;   
 height: 100%;   
 top: 0px;
 left: 0px;
 position: fixed;   
 display: none;   
 opacity: 0.7;   
 background-color: #fff;   
 z-index: 99;   
 text-align: center; 
}  
 
#loading-image {   
 position: absolute;   
 top: 50%;   
 left: 50%;  
 z-index: 100; 
} 



#csssubmenu,
#csssubmenu ul,
#csssubmenu ul li,
#csssubmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#csssubmenu:after,
#csssubmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#csssubmenu {
  /* font-family: Montserrat, sans-serif; */
  background: #2c3e50;
}
#csssubmenu > ul > li {
  float: left;
}
#csssubmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#csssubmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#csssubmenu.align-center ul ul {
  text-align: left;
}
#csssubmenu.align-right > ul > li {
  float: right;
}
#csssubmenu > ul > li.logout {
	float: right;	
}
#csssubmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
  text-transform: uppercase;
}
#csssubmenu > ul > li:hover > a {
  color: #fff;
}

/* top menu */
/*
#csssubmenu > ul {
  background: #2c3e50;
  padding-bottom: 3px;
  font-weight: 600;
}
#csssubmenu:before,
#csssubmenu:after,
#csssubmenu > ul:before,
#csssubmenu > ul:after {
  content: '';
  display: table;
}
#csssubmenu:after,
#csssubmenu > ul:after {
  clear: both;
}
#csssubmenu {
  width: auto;
  zoom: 1;
}
#csssubmenu > ul {
  background: #2c3e50;
  margin: 0;
  padding: 0;
  position: relative;
}
#csssubmenu > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#csssubmenu > ul > li {
  float: left;	가로 리스트로 정렬
  position: relative;
}
#csssubmenu > ul > li.logout {
	float: right;	
}
#csssubmenu > ul > li > a { 
  padding: 20px 25px;
  display: block;
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #c28130;
  text-shadow: 0 -1px 0 rgba(151, 99, 33, 0.43);
  line-height: 18px;
}
#csssubmenu > ul > li:hover > a {
  background: #34495e;
}
#csssubmenu > ul > li > a > span {
  line-height: 18px;
}
#csssubmenu > ul > li.active > a,
#csssubmenu > ul > li > a:active {
  background: #2c3e50;
}
#csssubmenu > ul > li.active:hover > a {
	background: #34495e;
}

/* Childs 하위세부메뉴 */
/*#csssubmenu > ul ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100px;
  background: #d35400;
  margin: 0;
  padding: 0;
  z-index: 2;
  -webkit-transition: all 0.35s 0.2s ease-in-out;
  -moz-transition: all 0.35s 0.2s ease-in-out;
  -ms-transition: all 0.35s 0.2s ease-in-out;
  transition: all 0.35s 0.2s ease-in-out;
}
#csssubmenu > ul li:hover ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  color: #000;
  z-index: 2;
  top: 60px;
  left: 0;
}
#csssubmenu > ul ul:before {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: transparent;
}
#csssubmenu > ul ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#csssubmenu > ul ul li a {
  padding: 18px 26px; 
  display: block;
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  border-left: 4px solid transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-shadow: 0 -1px 0 #c28130;
  text-shadow: 0 -1px 0 rgba(151, 99, 33, 0.43);
}
#csssubmenu > ul ul li a:hover {
  border-left: 4px solid #055988;
  background: #34495e;
}
#csssubmenu > ul ul li a:active {
  background: #2c3e50;
} */