@CHARSET "UTF-8";

input[type="radio"] {
    display: inline;
}

#popup input[type="text"],
#updatepopup input[type="text"] {
	width: 250px;
	height: 22px;
}

/* popup Layer */
#popup, #updatepopup{
	background-color: #fff;
	color: #111;
	display: none;
	min-width: 450px;
	padding: 25px;
	border: 5px solid #3498db;
	border-radius: 7px;
}

#popup, #updatepopup {
	min-height: 250px;
}

#div_pop {
	border: 0px solid #000;
	height: auto;
}

#poptable tr td,
#utable tr td {
	padding: 5px 0;
}

#div_popbtn {
	margin-top: 20px;
	text-align: right;
	border: 0px solid #000;
}
/* Close X button  */
.button {
	background-color: #2b91af;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}
.button:hover {
  background-color: #e74c3c;
}
.button.b-close, .button.bClose {
    box-shadow: none;
    /* font: bold 131% sans-serif; */
    padding: 0 6px 2px;
    position: absolute;
    right: -10px;
    top: -10px;
}

/* Radio Switch Button  */
/* 기간별통계 조건검색 */
.switch {
  	margin-left: 10px;
	color: #6f839a;
	cursor: pointer;
	font-weight: 600;
	line-height: 1.5em;
	border-radius: 3px;
	padding: .15em .5em;
	display: inline-block;
	background-color: #3e4956;
	-webkit-transition: .15s ease;
	-moz-transition: .15s ease;
	-ms-transition: .15s ease;
	-o-transition: .15s ease;
	transition: .15s ease;
  }
  
  input[type="radio"]:checked + .switch {
	color: #fff;
	background-color: #0e83cd;
	padding-left: 1em;
	padding-right: 1em;
  }