﻿<%@ Page Language="C#"   AutoEventWireup="true" CodeFile="smtp.aspx.cs" Inherits="manager_smtp" Title="제목 없음" %>



<script language=javascript    >
<!--
function send()
{

    frm.submit();

}
-->
</script>


<form  name="frm"      method="post" action="./smtpresult.aspx" >


     

회사구분<input id="company"          name="company"          type="text"   value="HYUNDAI" /> HYUNDAI
<br />
보내는메일<input id="send_email"       name="send_email"       type="text"   value="data_collector@sqisoft.com" size=30 />
<br />
받는메일<input id="receive_mail" name="recive_mail" type="text" value="data_collector@sqisoft.com" size=30 />콤마로구분
<br />

제목<input id="title" name="title" type="text"  size=30/> 
<br />
내용<textarea id="contents"  name = "contents" cols="20" rows="12"></textarea>
<br />

<input id="Button1" name="Button1" type="button" value="보내기"  onclick=send();   />
 

</form>


