﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage/PopupMasterPage.master" AutoEventWireup="true" CodeFile="sitePopUpdate.aspx.cs" Inherits="manager_sitePopUpdate" Title="조직수정" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">



<script language=javascript>
 
    function saveClose()
    { 
        opener.location.reload();
        
         
        
        return false;
        
        
    }
</script>


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



mgrId , siteId , siteName , phoneNo1 , phoneNo2 , mobileNo , faxNo , franchizeType , chainNo
, businessType , businessCode , ceoName , siteLevel , shopOpenTime , shopCloseTime , holiday
, comment1 , comment2 , comment3 
, zipCode , addr1 , addr2 , addr3 , addr4 
, parentId





    <asp:Button ID="Button1" runat="server" Text="저장 후 리로딩 후 닫기"  
        OnClientClick="return saveClose();" onclick="Button1_Click"   />


</asp:Content>

