﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage/ContentMasterPage.master" AutoEventWireup="true" CodeFile="smsresult.aspx.cs" Inherits="manager_smsresult" Title="제목 없음" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
전송결과<br />


    보내는 핸드폰 : <asp:TextBox ID="send_phone" runat="server"></asp:TextBox>
    <br />
    받는 핸드폰 : <asp:TextBox ID="recive_phone" runat="server"></asp:TextBox>
    <br />    
    내용 :  <asp:Label ID="contents" runat="server" Text=""></asp:Label>
    <br />
    <asp:Image ID="Image1" runat="server" />
  
  
     
</asp:Content>

